.card {
    height: 132px;
    width: 278px;
    border-radius: 25px;
    padding: 0 25px;
    font-size: 13px;
    line-height: 15px;
}

.card--focus {
    background-color: #000000;
    box-shadow: 0 17px 63px -11px #000000;
    color: #ffffff;
}

.card--normal {
    background-color: #2b2b2d;
    cursor: pointer;
    color: #b8b8b8;
}

.card__network {
    width: 100%;
    font-size: 41px;
    font-weight: 300;
    line-height: 48px;
}

.card__values {
    width: 100%;
    height: 32px;
}

.card__icon {
    height: 18px;
    width: 18px;
    line-height: 18px;
    font-size: 18px;
}

.card--focus .card__icon {
    opacity: 1;
}

.top {
    height: 32px;
    width: 100%;
}

.card--normal .top {
    opacity: 0.23;
}

.card--normal .card__network {
    opacity: 0.23;
}

.card--normal .card__values {
    opacity: 0.23;
}

.options__divider {
    height: 1px;
    width: 84%;
    margin: 0 auto;
    background-color: #000000;
    opacity: 0.17;
}

.actions-section {
    height: 70px;
}

.action {
    padding: 0 15px !important;
}

.action--black {
    color: #ffffff;
}

.action__icon {
    width: 24px;
    margin-right: 5px;
}

.action__icon--small {
    width: 22px !important;
}
