<div class="actions-section">
    <button
        *ngIf="
            openChannels !== 0 || !quickConnectPending[selectedToken?.address];
            else connecting
        "
        class="action"
        id="transfer"
        mat-flat-button
        color="accent"
        (click)="pay()"
    >
        <mat-icon class="action__icon" svgIcon="transfer" aria-label="Transfer">
        </mat-icon>
        <span>
            Transfer
        </span>
    </button>
    <ng-template #connecting>
        <div
            class="action action--connect"
            color="accent"
            fxLayout="row"
            fxLayoutAlign="center center"
        >
            <mat-icon
                class="action__icon"
                svgIcon="thunderbolt"
                aria-hidden="true"
            >
            </mat-icon>
            <span>
                Quick connect pending
            </span>
            <mat-progress-spinner
                diameter="24"
                mode="indeterminate"
                color="accent"
                fxFlexOffset="12px"
            ></mat-progress-spinner>
        </div>
    </ng-template>
</div>

<div
    class="card"
    fxLayout="column"
    fxLayoutAlign="start center"
    fxLayoutGap="15px"
>
    <div class="card__top" fxLayout="row" fxLayoutAlign="center">
        <mat-select
            [(value)]="selectedToken"
            (selectionChange)="onSelect($event.value)"
            class="network-selector"
            placeholder="Select network"
            panelClass="network-selector__panel"
            #selector
        >
            <mat-select-trigger>
                <ng-container *ngIf="isAllNetworksView; else change_network"
                    >Select Network</ng-container
                >
                <ng-template #change_network>Change Network</ng-template>
            </mat-select-trigger>
            <button
                *ngIf="!production"
                mat-flat-button
                class="mat-option register-button"
                (click)="selector.close(); register()"
                fxLayout="row"
                fxLayoutGap="20px"
            >
                <mat-icon
                    class="register-button__icon"
                    svgIcon="add"
                    aria-label="Add token"
                >
                </mat-icon>
                <span>Add new Network</span>
            </button>
            <mat-option [value]="undefined">
                All Networks
            </mat-option>
            <mat-option
                *ngFor="let option of tokens$ | async; trackBy: trackByFn"
                [value]="option"
                class="token-option"
                [innerHtml]="option | token"
            >
            </mat-option>
        </mat-select>
        <ng-container
            *ngIf="!isAllNetworksView && (!onMainnet || openChannels > 0)"
        >
            <button
                class="options-button"
                mat-icon-button
                [matMenuTriggerFor]="options"
                stopClickPropagation
                id="options"
            >
                <mat-icon svgIcon="more" aria-label="Options"></mat-icon>
            </button>
            <mat-menu
                class="options"
                #options="matMenu"
                [overlapTrigger]="true"
                xPosition="before"
            >
                <button
                    *ngIf="!onMainnet"
                    mat-menu-item
                    (click)="mint()"
                    id="mint"
                >
                    Mint
                </button>
                <div
                    *ngIf="!onMainnet && openChannels > 0"
                    class="options__divider"
                ></div>
                <button
                    *ngIf="openChannels > 0"
                    mat-menu-item
                    (click)="leaveNetwork()"
                    id="leave"
                >
                    Leave network
                </button>
            </mat-menu>
        </ng-container>
    </div>

    <div class="card__network" fxLayout="row">
        <div *ngIf="!isAllNetworksView; else all_networks">
            <ng-container *ngIf="selectedToken.connected; else no_deposits">
                <span
                    *ngIf="
                        selectedToken.connected?.sum_deposits
                            | decimal: selectedToken.decimals as sumDeposits
                    "
                    [matTooltip]="sumDeposits"
                    >{{ sumDeposits | displayDecimals: 3 }}</span
                >
            </ng-container>
            <ng-template #no_deposits>
                0
            </ng-template>
            <span
                matTooltip="{{ selectedToken.name }}
                    {{ selectedToken.address }}
                    (Click to copy)"
                ngxClipboard
                [cbContent]="selectedToken.address"
            >
                {{ selectedToken.symbol }}
            </span>
        </div>
        <ng-template #all_networks>
            All Networks
        </ng-template>
    </div>

    <div fxFlex="1 1 auto"></div>
    <div class="card__values" fxLayout="row" fxLayoutAlign="center">
        <div
            *ngIf="isAllNetworksView; else open_channels"
            fxLayout="row"
            fxLayoutAlign="center"
            class="overview"
        >
            <div
                *ngFor="
                    let token of (tokens$ | async).slice(0, 3);
                    trackBy: trackByFn
                "
                fxFlex="33"
                fxLayout="column"
                fxLayoutAlign="center center"
                class="overview__item"
            >
                <div>
                    <ng-container *ngIf="token.connected; else no_deposits">
                        <span
                            *ngIf="
                                token.connected?.sum_deposits
                                    | decimal: token.decimals as sumDeposits
                            "
                            [matTooltip]="sumDeposits"
                            >{{ sumDeposits | displayDecimals: 3 }}</span
                        >
                    </ng-container>
                    <ng-template #no_deposits>
                        0
                    </ng-template>
                    <span
                        matTooltip="{{ token.name }}
                    {{ token.address }}
                    (Click to copy)"
                        ngxClipboard
                        [cbContent]="token.address"
                        class="overview__token-symbol"
                    >
                        {{ token.symbol }}
                    </span>
                </div>
            </div>
        </div>
        <ng-template #open_channels>
            <span>in {{ openChannels }} open channels</span>
        </ng-template>
    </div>
</div>
