.card {
    height: 132px;
    width: 300px;
    border-radius: 25px;
    padding: 0 25px;
    color: #b8b8b8;
    font-size: 13px;
    line-height: 15px;
}

.card--focus {
    background-color: #ffffff;
    box-shadow: 0 17px 63px 0 rgba(0, 0, 0, 0.3);
    color: #000000 !important;
}

.card--normal {
    background-color: rgba(148, 148, 148, 0.18);
    cursor: pointer;
}

.card__network {
    width: 100%;
    font-size: 41px;
    font-weight: 300;
    line-height: 48px;
}

.card__values {
    width: 100%;
    height: 32px;
}

.card__icon {
    height: 18px;
    width: 18px;
    line-height: 18px;
    font-size: 18px;
    opacity: 0.25;
}

.card--focus .card__icon {
    opacity: 1;
}

.top {
    height: 32px;
    width: 100%;
    opacity: 0.53;
}

.options__divider {
    height: 1px;
    width: 84%;
    margin: 0 auto;
    background-color: #ffffff;
    opacity: 0.17;
}
