<div
    class="actions-section"
    fxLayout="row"
    fxLayoutGap="18px"
    fxLayout.xs="column"
>
    <button
        *ngIf="
            openChannels !== 0 || !quickConnectPending(selectedToken?.address);
            else connecting
        "
        class="action"
        id="transfer"
        mat-flat-button
        color="accent"
        (click)="pay()"
        fxFlex.gt-xs="140 0 0"
    >
        <mat-icon class="action__icon" svgIcon="transfer" aria-label="Transfer">
        </mat-icon>
        <span>Transfer</span>
    </button>
    <ng-template #connecting>
        <div
            class="action action--connect"
            color="accent"
            fxLayout="row"
            fxLayoutAlign="center center"
        >
            <mat-icon
                class="action__icon"
                svgIcon="thunderbolt"
                aria-hidden="true"
            >
            </mat-icon>
            <span>Quick Connect pending</span>
            <mat-progress-spinner
                diameter="24"
                mode="indeterminate"
                color="accent"
                fxFlexOffset="12px"
            ></mat-progress-spinner>
        </div>
    </ng-template>

    <div fxFlex.gt-xs="394 0 0">
        <div
            *ngIf="isAllNetworksView"
            fxLayout="row"
            fxLayoutAlign="center center"
            class="overview"
        >
            <div fxFlex="10 0 0" class="overview__item overview__item--label">
                <div>Top Networks</div>
            </div>
            <div
                *ngFor="
                    let token of tokens$ | async | slice: 0:3;
                    trackBy: trackByFn
                "
                fxFlex="7 0 0"
                class="overview__item"
            >
                <app-balance-with-symbol
                    [balance]="token.sumChannelBalances"
                    [token]="token"
                ></app-balance-with-symbol>
            </div>
        </div>
    </div>
</div>

<div
    class="card"
    fxLayout="column"
    fxLayoutAlign="start center"
    fxLayoutGap="22px"
>
    <div class="card__top" fxLayout="row" fxLayoutAlign="center">
        <app-token-network-selector
            [showChannelBalance]="true"
            [setSelectedToken]="true"
            [showRegisterButton]="!production"
            placeholder="Select Network"
            selectorClass="mat-select--dark"
            panelClass="mat-select-panel--dark"
        >
        </app-token-network-selector>
        <ng-container *ngIf="!isAllNetworksView">
            <button
                class="options-button"
                mat-icon-button
                [matMenuTriggerFor]="options"
                appStopClickPropagation
                id="options"
            >
                <mat-icon svgIcon="more" aria-label="Options"></mat-icon>
            </button>
            <mat-menu
                class="options"
                #options="matMenu"
                [overlapTrigger]="true"
                xPosition="before"
            >
                <ng-container *ngIf="!onMainnet">
                    <button mat-menu-item (click)="mint()" id="mint">
                        Mint
                    </button>
                    <div class="options__divider"></div>
                </ng-container>
                <button
                    mat-menu-item
                    (click)="openQuickConnect()"
                    id="quick-connect"
                >
                    Quick Connect
                </button>
                <ng-container *ngIf="openChannels > 0">
                    <div class="options__divider"></div>
                    <button mat-menu-item (click)="leaveNetwork()" id="leave">
                        Leave network
                    </button>
                </ng-container>
            </mat-menu>
        </ng-container>
    </div>

    <div class="card__network" fxLayout="row">
        <div *ngIf="!isAllNetworksView; else all_networks">
            <app-balance-with-symbol
                [balance]="selectedToken.sumChannelBalances"
                [token]="selectedToken"
            ></app-balance-with-symbol>
        </div>
        <ng-template #all_networks>All Networks</ng-template>
    </div>

    <div *ngIf="!isAllNetworksView" class="card__values">
        <span>in {{ openChannels }} open channels</span>
    </div>
</div>
