@import '../../../sass/page_variables';
:host {
    height: 100%;
}

.direction-label {
    font-weight: 500;
    size: 1.4rem;
}

$row-height: 5em;
.payment-event {
    min-height: $row-height;
    max-height: $row-height;
}

.no-margin {
    margin: 0 !important;
}
