.card {
    height: 80px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.06);
    padding: 0 25px;
    font-size: 16px;
    line-height: 19px;
    cursor: pointer;
}

.icon-box {
    width: 35px;
    height: 35px;
}

.icon-box__identicon {
    border-radius: 50%;
    height: 100%;
    cursor: default;
}

.contact {
    overflow: hidden;
}

.contact-info {
    overflow: hidden;
    width: 100%;
}

.contact-info__label {
    color: #ffffff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card__go-icon {
    height: 20px;
    color: #3d3d3d;
}
