@import '../../../sass/colors';

.card {
    height: 80px;
    border-radius: 15px;
    background-color: $bg-grey;
    padding: 0 25px;
    font-size: 16px;
    line-height: 19px;
    cursor: pointer;
}

.card--mobile {
    padding: 0 15px;
}

.contact {
    overflow: hidden;
}

.contact-info {
    overflow: hidden;
    width: 100%;
}

.contact-info__label {
    color: $white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card__go-icon {
    height: 20px;
    color: #3d3d3d;
}
