<div
    class="error"
    fxLayout="row"
    fxLayout.lt-md="column"
    fxLayoutGap="2rem"
    fxLayoutAlign="center"
>
    <div fxLayout="column" fxLayout.xs="row" fxLayoutAlign="start center">
        <div class="icon">
            <mat-icon>warning</mat-icon>
        </div>
    </div>
    <div
        class="mat-typography error-container"
        fxLayout="column"
        fxLayoutGap="1.5rem"
    >
        <div fxLayout="row" class="title">
            {{ errorTitle }}
        </div>
        <div class="description">
            <div fxLayout="row" *ngFor="let row of descriptionRows">
                {{ row }}
            </div>
        </div>

        <div
            *ngIf="errorContent && showError"
            class="error-content"
            fxLayout="row"
        >
            <pre>{{ errorContent }}</pre>
        </div>

        <div fxLayout="row" *ngIf="buttonText">
            <button
                *ngIf="errorContent"
                mat-button
                color="accent"
                (click)="showError = !showError"
            >
                {{ (showError ? 'Hide Error' : 'Show Error') | uppercase }}
            </button>
            <button
                mat-stroked-button
                color="accent"
                (click)="clicked()"
                id="retry"
            >
                {{ buttonText | uppercase }}
            </button>
        </div>
    </div>
</div>
