@import '../../../sass/mixins';

:host {
    height: 100%;
}

$circle_width: 8rem;
$icon_width: $circle_width/2;

$circle_width_mobile: 4rem;
$icon_width_mobile: $circle_width_mobile/2;

.error {
    margin-left: 4rem;
    margin-right: 4rem;
    margin-top: 8rem;

    @include respond-to(handhelds) {
        margin: 1rem 1rem 2rem;
    }
}

.error .title {
    font-weight: 500;
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.75);
    margin-bottom: 0.3rem;
}

.error .icon {
    width: $circle_width;
    height: $circle_width;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    @include respond-to(handhelds) {
        width: $circle_width_mobile;
        height: $circle_width_mobile;
    }
}

.error .icon mat-icon {
    font-size: $icon_width;
    width: $icon_width;
    height: $icon_width;
    color: rgba(0, 0, 0, 0.4);

    @include respond-to(handhelds) {
        font-size: $icon_width_mobile;
        width: $icon_width_mobile;
        height: $icon_width_mobile;
    }
}

.error .description {
    font-size: 1rem;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.7);

    @include respond-to(handhelds) {
        margin-bottom: 0.3rem;
    }
}

.error .stacktrace {
    height: 400px;
    width: 600px;
    overflow-y: scroll;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 2px;

    @include respond-to(handhelds) {
        width: 320px;
    }

}

.error .stacktrace pre {
    padding: 1rem;
    font-family: 'Roboto Mono', monospace;
    margin-top: 1rem;
    font-size: 12px;
}

button {
    margin-top: 2rem;
}