.icon {
    width: 69px;
    height: auto;
}

.title {
    font-size: 19px;
    line-height: 23px;
    font-weight: 500;
}

.description {
    font-size: 13px;
    line-height: 15px;
    width: 68%;
    text-align: center;
}

.content {
    width: 84%;
    background-color: #ffffff;
    border-radius: 25px;
    padding: 15px 33px;
    font-family: 'Roboto Mono', 'Helvetica Neue', sans-serif;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    opacity: 0.65;
    overflow: hidden;
}

.content__text {
    min-height: 30px;
    max-height: 200px;
    overflow-y: auto;
    overflow-wrap: break-word;
}

.actions {
    height: 40px;
    width: 68%;
}

.actions__button {
    height: 100%;
    width: 140px;
    font-size: 13px;
    line-height: 15px;
    font-weight: 500 !important;
}

.actions__button--white {
    border: 2px solid #000000;
    background: none;
}

.actions__button--black {
    color: #ffffff;
}
