@import '../../../sass/fonts';
@import '../../../sass/colors';

.icon {
    width: 69px;
    height: 69px;
}

.title {
    color: $black;
    font-size: 19px;
    line-height: 23px;
    font-weight: 500;
}

.description {
    color: $black;
    font-size: 12px;
    line-height: 15px;
    width: 68%;
    text-align: center;
}

.content {
    width: 84%;
    background-color: $bg-grey;
    border-radius: 15px;
    padding: 15px 33px;
    font-family: $mono-font;
    font-size: 13px;
    line-height: 18px;
    color: $light-grey;
    text-align: center;
    overflow: hidden;

    &__text {
        min-height: 30px;
        max-height: 200px;
        overflow-y: auto;
        overflow-wrap: break-word;
    }
}

.actions {
    &__button {
        background-color: $bg-grey;
        height: 38px !important;
        width: 140px;
        letter-spacing: 0.01em;
        font-size: 12px !important;
        line-height: 15px !important;

        &--dark {
            color: $grey !important;
        }

        &--white {
            background-color: $white;
            color: $black;
        }

        &--wide {
            width: 224px;
        }
    }
}
