<div fxLayout="column" fxLayoutGap="33px" fxLayoutAlign="center center">
    <mat-icon class="icon" aria-hidden="true" svgIcon="error"></mat-icon>
    <ng-container *ngIf="isRpcError(); else api_error">
        <div class="title">JSON RPC connection error!</div>
        <div class="description">
            A connection with the Web3 provider could not be established. Please
            try again.
        </div>
    </ng-container>
    <ng-template #api_error>
        <div class="title">Raiden API connection error!</div>
        <div class="description">
            A connection with the Raiden API could not be established. Please
            try again.
        </div>
    </ng-template>
    <div *ngIf="showError" class="content">
        <div class="content__text">
            {{ data.errorContent }}
        </div>
    </div>
    <div class="actions" fxLayout="row" fxLayoutAlign="space-between">
        <button
            class="actions__button actions__button--white"
            mat-flat-button
            color="accent"
            (click)="showError = !showError"
        >
            {{ showError ? 'Hide Error' : 'Show Error' }}
        </button>
        <button
            class="actions__button actions__button--black"
            mat-flat-button
            color="primary"
            (click)="retry()"
        >
            Retry
        </button>
    </div>
</div>
