<div
    fxLayout="row"
    fxLayout.xs="column"
    fxLayoutGap="40px"
    fxLayoutGap.xs="10px"
>
    <div
        fxLayout="column"
        fxFlex="0 0 4em"
        fxFlex.xs="0 0 56px"
        fxLayoutAlign="center"
        fxLayoutAlign.xs="center center"
    >
        <img
            class="identicon"
            ngClass.xs="mobile"
            [src]="identicon(contact.address)"
            alt="Address identicon"
        />
    </div>

    <div
        fxLayout="column"
        fxFlex="1 1 auto"
        fxLayoutAlign="center"
        [formGroup]="form"
    >
        <div fxLayout="row">
            <mat-form-field class="full-width-form-field">
                <input
                    matInput
                    placeholder="Address"
                    [value]="contact.address"
                    disabled
                />
            </mat-form-field>
        </div>
        <div fxLayout="row">
            <mat-form-field class="full-width-form-field">
                <input
                    id="address-label"
                    matInput
                    placeholder="Label"
                    formControlName="label"
                    (keyup.enter)="updated()"
                    [value]="contact.label"
                />
                <mat-error *ngIf="form.invalid && (form.touched || form.dirty)">
                    Label cannot be empty!
                </mat-error>
            </mat-form-field>
        </div>
    </div>

    <div
        fxFlex="0 0 1em"
        fxLayout="column"
        fxLayout.xs="row"
        fxLayoutAlign="start end"
        fxLayoutAlign.xs="end center"
        ngClass.xs="action-buttons"
    >
        <div>
            <button
                id="edit-address"
                mat-icon-button
                color="accent"
                [disabled]="
                    editMode && form.touched && form.dirty && !form.valid
                "
                (click)="editMode ? updated() : toggleEdit()"
            >
                <mat-icon aria-label="Edit icon">{{
                    editMode ? 'save' : 'edit'
                }}</mat-icon>
            </button>
        </div>
        <div *ngIf="!editMode">
            <button
                id="delete-address"
                mat-icon-button
                color="accent"
                (click)="showConfirmation()"
            >
                <mat-icon aria-label="Delete icon">delete</mat-icon>
            </button>
        </div>
        <div *ngIf="editMode">
            <button
                id="cancel-edit"
                mat-icon-button
                color="accent"
                (click)="cancel()"
            >
                <mat-icon aria-label="Cancel icon">cancel</mat-icon>
            </button>
        </div>
    </div>
</div>
