<div
    class="dialog"
    (keyup.enter)="accept.emit(true)"
    fxLayout="column"
    fxLayoutGap="20px"
>
    <div class="dialog__title">{{ titleText }}</div>

    <ng-content></ng-content>

    <div fxLayout="row" fxLayoutAlign="space-between">
        <button
            class="dialog__button dialog__button--white"
            mat-flat-button
            color="accent"
            (click)="cancel.emit(true)"
        >
            Cancel
        </button>
        <button
            class="dialog__button dialog__button--black"
            mat-flat-button
            [disabled]="acceptDisabled"
            color="primary"
            (click)="accept.emit(true)"
        >
            {{ acceptText }}
        </button>
    </div>
</div>
