@import '../../../sass/colors';

.dialog {
    position: relative;

    &__title {
        margin: 0;
        font-size: 12px;
        letter-spacing: 0.3px;
        line-height: 14px;
        text-transform: uppercase;
    }

    &__button {
        height: 32px !important;
        width: 100px;
        letter-spacing: 0.35px;

        &--white {
            border: 2px solid $black;
        }

        &--black {
            color: $white;
        }
    }

    &__close-button {
        position: absolute;
        top: -19px;
        right: -8px;
    }

    &__close-icon {
        width: 16px !important;
        height: 16px !important;
    }
}
