<div
    class="dialog"
    (keyup.enter)="onEnter()"
    fxLayout="column"
    fxLayoutGap="20px"
>
    <div class="dialog__title">{{ titleText }}</div>

    <button
        mat-icon-button
        (click)="cancel.emit(true)"
        class="dialog__close-button"
        id="close"
    >
        <mat-icon
            aria-label="Close dialog"
            svgIcon="close"
            class="dialog__close-icon"
        ></mat-icon>
    </button>

    <ng-content></ng-content>

    <div *ngIf="!noButtons" fxLayout="row" fxLayoutAlign="space-between">
        <button
            class="dialog__button dialog__button--white"
            mat-flat-button
            color="accent"
            (click)="cancel.emit(true)"
            id="cancel"
        >
            Cancel
        </button>
        <button
            class="dialog__button dialog__button--black"
            mat-flat-button
            [disabled]="acceptDisabled"
            color="primary"
            (click)="accept.emit(true)"
            id="accept"
        >
            {{ acceptText }}
        </button>
    </div>
</div>
