@import '../../../sass/colors';

.dialog {
    position: relative;
    color: $grey;

    &__title {
        color: $white;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        text-align: center;
    }

    &__button {
        background-color: $bg-grey;
        height: 38px !important;
        width: 120px;
        letter-spacing: 0.01em;
        font-size: 12px !important;
        line-height: 15px !important;

        &--dark {
            color: $grey !important;
        }

        &--white {
            background-color: $white;
            color: $black;
        }

        &--wide {
            width: 224px;
        }
    }

    &__button-section {
        margin-top: 12px;
    }
}

.small-button {
    background-color: $bg-grey;

    &--left {
        margin-left: -24px;
    }

    &--right {
        margin-right: -24px;
    }

    &__icon {
        color: $grey;
        width: 16px !important;
        height: 16px !important;
        line-height: 16px;

        &--big {
            width: 32px !important;
            height: 32px !important;
            line-height: 32px;
        }
    }
}

.info-box {
    z-index: 3000;
    background-color: $black;
    position: absolute;
    margin: 0 !important;
    top: 32px;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 16px;
    line-height: 19px;
    color: $white;
    text-align: center;
}
