.dialog__title {
    margin: 0;
    font-size: 11px;
    letter-spacing: 0.3px;
    line-height: 13px;
    text-transform: uppercase;
}

.dialog__button {
    height: 32px !important;
    width: 100px;
    font-weight: 500 !important;
    letter-spacing: 0.35px;
}

.dialog__button--white {
    border: 2px solid #000000;
}

.dialog__button--black {
    color: #ffffff;
}

.dialog__button--black:disabled {
    color: #979797;
}
