@import '../../../sass/fonts';
@import '../../../sass/colors';

:host {
    overflow-y: scroll;
    position: relative;
    height: 100%;
    display: block;
    min-height: 409px;
}

.container {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-right: 22px;
}

.about {
    font-size: 19px;
    font-weight: 500;
    line-height: 23px;
}

.section {
    font-size: 16px;
    line-height: 25px;

    &__descriptor {
        font-weight: 500;
    }

    &__text {
        margin-top: 0;

        &--small {
            font-size: 13px;
        }
    }

    &__box {
        height: 100px;
        padding: 22px 39px;
        background-color: $bg-dark-grey;
        border-radius: 20px;
    }

    &__version {
        opacity: 0.51;
        font-family: $mono-font;
    }

    &__icon {
        height: 20px;
        width: 20px;
        line-height: 20px;
    }

    &__box-offset {
        margin-top: 22px;
    }
}
