<div class="page" fxFlex="0 1 850px" fxLayout="column" fxLayoutGap="110px">
    <div fxLayout="row" fxLayoutAlign="start center">
        <h1 class="about">
            About this Software
        </h1>
        <div fxFlex="1 1 auto"></div>
        <a
            mat-icon-button
            ngxClipboard
            [cbContent]="environmentInformation()"
            routerLink="/home"
        >
            <mat-icon svgIcon="close" aria-label="Close about page"> </mat-icon>
        </a>
    </div>

    <div class="section" fxLayout="row" fxLayoutAlign="space-between">
        <div class="section__box-offset">
            <span class="section__descriptor">Versions</span>
            <button
                mat-icon-button
                ngxClipboard
                [cbContent]="environmentInformation()"
                matTooltip="Copy environment to clipboard"
            >
                <mat-icon
                    class="section__icon"
                    svgIcon="copy"
                    aria-label="Copy environment to clipboard"
                >
                </mat-icon>
            </button>
        </div>
        <div fxFlex="0 1 600px" fxLayout="column" fxLayoutGap="39px">
            <div
                class="section__box"
                fxLayout="column"
                fxLayoutAlign="space-between"
            >
                <span>WebUI</span>
                <span class="section__version">{{ webuiVersion }}</span>
            </div>
            <div
                class="section__box"
                fxLayout="column"
                fxLayoutAlign="space-between"
            >
                <span>Raiden client</span>
                <span class="section__version">{{ raidenVersion }}</span>
            </div>
        </div>
    </div>

    <div class="section" fxLayout="row" fxLayoutAlign="space-between">
        <div class="section__descriptor">The MIT License (MIT)</div>
        <div fxFlex="0 1 600px" fxLayout="column" fxLayoutGap="52px">
            <p class="section__text">
                Copyright (c) 2015-{{ currentYear() }} Brainbot Labs Est.
            </p>
            <p class="section__text">
                Permission is hereby granted, free of charge, to any person
                obtaining a copy of this software and associated documentation
                files (the "Software"), to deal in the Software without
                restriction, including without limitation the rights to use,
                copy, modify, merge, publish, distribute, sublicense, and/or
                sell copies of the Software, and to permit persons to whom the
                Software is furnished to do so, subject to the following
                conditions:
            </p>
            <p class="section__text">
                The above copyright notice and this permission notice shall be
                included in all copies or substantial portions of the Software.
            </p>
            <p class="section__text section__text--small">
                THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
                EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES
                OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
                NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT
                HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,
                WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
                FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
                OTHER DEALINGS IN THE SOFTWARE.
            </p>
        </div>
    </div>
</div>
