$transparent: rgba(0, 0, 0, 0);
$white: #ffffff;
$black: #000000;
$light-grey: #e7e7e7;
$dark-grey: #979797;

$red: #f54b47;
$blue: #2c8f94;
$light-blue: #4aa7ab;
$green: #38c141;
$orange: #ff5c00;

$label-yellow: #fdd327;
$label-red: #ff0000;
$label-green: #1dc512;
$bg-label-yellow: #655823;
$bg-label-red: #5a0d0d;
$bg-label-green: #154912;

$text-grey: #888888;

$bg-dark-grey: #121212;
$bg-grey: #232323;
$bg-light-grey: #cccccc;

$light-divider: rgba(255, 255, 255, 0.1);
$placeholder-grey: #b8b8b8;
$scrollbar-grey: #393939;
