<app-raiden-dialog
    titleText="Quick Connect"
    acceptText="Connect"
    infoText="You will get suggested partners to connect to. Quick Connect will open channels with these suggestions. The total deposit is split among the channels. You can modify the deposit for each partner. By setting a deposit to 0 no channel will be created."
    [acceptDisabled]="form.invalid"
    [formGroup]="form"
    (accept)="accept()"
    (cancel)="cancel()"
>
    <app-token-network-selector
        *ngIf="initiatedWithoutToken"
        formControlName="token"
        [showOnChainBalance]="true"
    >
    </app-token-network-selector>
    <app-token-input
        placeholder="Total Deposit"
        formControlName="totalAmount"
        [onChainInput]="true"
    >
    </app-token-input>
    <div
        *ngIf="loading || pfsError || !pfsConfigured || suggestions.length > 0"
        [@stretchVertically]="'in'"
    >
        <app-connection-selector
            *ngIf="!loading && !pfsError; else spinner"
            [suggestions]="suggestions"
            [@stretchVertically]="'in'"
            formArrayName="choices"
        >
        </app-connection-selector>
        <ng-template #spinner>
            <div *ngIf="loading; else error" fxLayoutAlign="center">
                <mat-progress-spinner
                    diameter="60"
                    mode="indeterminate"
                    color="accent"
                ></mat-progress-spinner>
            </div>
        </ng-template>
        <ng-template #error>
            <div
                *ngIf="pfsConfigured; else no_pfs"
                class="error"
                fxLayoutAlign="center"
            >
                Could not fetch any suggestions
            </div>
        </ng-template>
        <ng-template #no_pfs>
            <div class="error" fxLayoutAlign="center">
                Quick Connect requires a pathfinding service, but no such
                service is configured
            </div>
        </ng-template>
    </div>
</app-raiden-dialog>
