@import '../../../../sass/mixins';
@import '../../../../sass/page_variables';

:host {
    height: 100%;
}

.page-container {
    height: 100%;
}

.page-container .mat-card-title {
    @include respond-to(handhelds) {
        margin-bottom: 0 !important;
    }
}

.page-list {
    height: 100%;
    min-height: 400px;
    overflow-y: scroll;
    margin-left: $page-margin - 2px;
    margin-right: $page-margin - 2px;
    margin-bottom: 15px;

    @include respond-to(handhelds) {
        margin-left: 2px;
        margin-right: 2px;
    }
}

.page-list mat-card {
    margin: 1px 2px 1px;
}

.page-paginator {
    margin: 10px $page-margin;
    min-height: 78px;
    height: 78px;

    @include respond-to(handhelds) {
        margin: 10px 3px;
        padding: 0 !important;
    }
}

.page-paginator .mat-paginator-range-label {
    @include respond-to(handhelds) {
        margin: 0 auto 0 3px !important;
    }
}
