@import '../../../sass/colors';

.title {
    font-size: 19px;
    line-height: 23px;
    font-weight: 500;
}

.address-field {
    background-color: $light-grey;
    border-radius: 25px;
    font-size: 13px;
    letter-spacing: 1.07px;
    line-height: 15px;
    width: 100%;
    height: 32px;
    padding: 0 18px;
}

.address-field__content {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.close-button {
    height: 32px !important;
    width: 100px;
    letter-spacing: 0.35px;
    border: 2px solid $black;
}
