@import '../../../sass/colors';

.address-field {
    height: 40px;
    background-color: $bg-grey;
    border-radius: 100px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    color: $grey;
    letter-spacing: 1.07px;
    width: 100%;
    padding: 0 16px;

    &__content {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.qr-code {
    border-radius: 24px;
}
