<mat-card
    class="data"
    [ngClass.gt-xs]="cardClass"
    [ngClass.xs]="mobileClass"
    [@flyInOut]="'in'"
>
    <mat-card-content fxLayout="row" fxLayoutGap="30px" fxLayoutGap.xs="8px">
        <ng-content></ng-content>

        <div
            *ngIf="showActions && !isMobile()"
            fxLayout="column"
            fxFlex="0 0 8.5em"
            fxLayoutAlign="center center"
        >
            <ng-container *ngTemplateOutlet="tempOutlet"></ng-container>
        </div>
        <ng-content select=".overflow"></ng-content>
    </mat-card-content>

    <div *ngIf="showActions && isMobile()">
        <ng-container *ngTemplateOutlet="tempOutlet"></ng-container>
    </div>

    <ng-template #tempOutlet>
        <ng-content select=".actions"></ng-content>
    </ng-template>
</mat-card>
