@import '../../../sass/fonts';
@import '../../../sass/colors';

.input {
    z-index: 1;
    position: relative;
    border-radius: 100px;
    background-color: $bg-grey;
    height: 40px;

    &__field {
        background: none;
        border: none;
        box-shadow: none;
        font-family: $main-font;
        padding: 0 42px 0 16px;
        height: 100%;
        width: 100%;
        font-size: 14px;
        line-height: 16px;
        font-weight: 500;
        color: $grey;
        min-width: 0;

        &:disabled {
            color: $dark-grey;
            background: none;
            border: 1px solid $dark-grey;
        }

        &--contact {
            padding: 0 16px;
        }
    }
}

.icon-box {
    height: 24px;
    width: 24px;
    position: absolute;
    right: 0;
    margin-right: 10px;

    &__identicon {
        border-radius: 50%;
        height: 100%;
    }
}

.info-box {
    min-height: 32px;
    font-size: 12px;
    line-height: 15px;

    &__text {
        overflow: hidden;
        text-overflow: ellipsis;
        margin-left: 16px;

        &--error {
            color: $red;
        }

        &--clickable {
            color: $action-blue;
            cursor: pointer;

            &:hover {
                color: $action-light-blue;
            }
        }
    }
}

.options {
    height: 100%;
    overflow-y: auto;
    overflow-wrap: break-word;
}

.icon {
    height: 16px !important;
    line-height: 16px;
}

.add-contact-button {
    background-color: $bg-grey;
}
