<div class="input" fxLayout="row" fxLayoutAlign="start center">
    <input
        type="text"
        placeholder="{{ placeholder }} address / ENS name"
        aria-label="Address input"
        class="input__field"
        [matAutocomplete]="auto"
        [matAutocompleteDisabled]="!userAccount"
        (input)="onChange($event.target.value)"
        (focus)="onTouched()"
        fxFlex="0 1 226px"
        #input
    />

    <mat-autocomplete
        #auto="matAutocomplete"
        (optionSelected)="onChange($event.option.value)"
    >
        <div class="options">
            <mat-option
                *ngFor="
                    let option of filteredOptions$ | async;
                    trackBy: trackByFn
                "
                [value]="option.address"
                class="contact-option"
            >
                <span>{{ option.label }}</span
                ><span>{{ option.address }}</span>
            </mat-option>
        </div>
    </mat-autocomplete>

    <div class="icon-box" *ngIf="displayIdenticon">
        <img
            class="icon-box__identicon"
            *ngIf="address; else placeholder"
            [src]="identicon(address)"
        />

        <ng-template #placeholder>
            <mat-progress-spinner
                diameter="24"
                mode="indeterminate"
                *ngIf="searching"
            ></mat-progress-spinner>
        </ng-template>
    </div>
</div>

<div class="info-box" fxLayout="column" fxLayoutAlign="center">
    <span
        *ngIf="errors && touched && input.value.length > 0; else hint_text"
        [@fallDown]="'in'"
        class="info-box__text info-box__text--error"
    >
        <span *ngIf="errors['unableToResolveEns']">
            Could not resolve the address for {{ input.value }}
        </span>

        <span *ngIf="errors['ownAddress']">
            You cannot use your own address for this action
        </span>

        <span *ngIf="errors['notChecksumAddress']">
            The address is not in checksum format: {{ checksum() }}
        </span>

        <span *ngIf="errors['invalidFormat']">
            The address is not in a valid format
        </span>

        <span *ngIf="errors['ensUnsupported']">
            {{ (network$ | async).name }} network is unsupported for ENS
            resolution
        </span>
    </span>
    <ng-template #hint_text>
        <span
            *ngIf="hint(); else add_contact"
            class="info-box__text"
            [@fallDown]="'in'"
        >
            {{ hint() }}
        </span>
    </ng-template>
    <ng-template #add_contact>
        <span
            *ngIf="!errors && userAccount && !showContactLabelInput"
            [@fallDown]="'in'"
        >
            <span
                class="info-box__text info-box__text--clickable"
                (click)="activateContactLabelInput()"
                id="add-contact"
            >
                Add address to contacts
            </span>
        </span>
    </ng-template>

    <div
        *ngIf="showContactLabelInput"
        class="input input--contact"
        fxLayout="row"
        fxLayoutAlign="start center"
    >
        <mat-icon svgIcon="go" aria-hidden="true" class="icon"> </mat-icon>
        <input
            fxFlexOffset="10px"
            placeholder="Contact name"
            aria-label="Contact name input for address"
            class="input__field"
            [formControl]="contactLabelFc"
            type="text"
            fxFlex="0 1 196px"
            (keyup.enter)="labelFieldOnEnter($event)"
        />
        <div class="icon-box">
            <button
                mat-icon-button
                (click)="saveContact()"
                [disabled]="contactLabelFc.invalid"
                fxLayout="column"
                fxLayoutAlign="center center"
                id="save-contact"
            >
                <mat-icon class="icon" svgIcon="add" aria-label="Save contact">
                </mat-icon>
            </button>
        </div>
    </div>
</div>
