<div class="input" fxLayout="row" fxLayoutAlign="start center">
    <input
        type="text"
        [placeholder]="placeholder"
        aria-label="Address input"
        class="input__field"
        [matAutocomplete]="auto"
        [matAutocompleteDisabled]="!userAccount"
        (input)="onChange($event.target.value)"
        (focus)="onTouched()"
        fxFlex="0 1 226px"
        #input
    />

    <mat-autocomplete
        #auto="matAutocomplete"
        (optionSelected)="onChange($event.option.value)"
    >
        <mat-option
            *ngFor="
                let option of (filteredOptions$ | async);
                trackBy: trackByFn
            "
            [value]="option.address"
        >
            {{ option.label }} ({{ option.address }})
        </mat-option>
    </mat-autocomplete>

    <div
        fxLayout="row"
        fxLayoutAlign="center center"
        class="icon-box"
        *ngIf="displayIdenticon"
    >
        <img
            class="icon-box__identicon"
            *ngIf="address; else placeholder"
            [src]="identicon(address)"
        />

        <ng-template #placeholder>
            <mat-progress-spinner
                diameter="24"
                mode="indeterminate"
                *ngIf="searching"
            ></mat-progress-spinner>
        </ng-template>
    </div>
</div>

<div class="info-box" fxLayout="column" fxLayoutAlign="center">
    <span
        *ngIf="!!errors && touched && input.value.length > 0; else hint_text"
        [@fallDown]="'in'"
        class="info-box__error"
    >
        <span *ngIf="errors['unableToResolveEns']">
            Could not resolve the address for {{ input.value }}
        </span>

        <span *ngIf="errors['ownAddress']">
            You cannot use your own address for this action
        </span>

        <span *ngIf="errors['notChecksumAddress']">
            Address is not in checksum format: {{ checksum() }}
        </span>

        <span *ngIf="errors['invalidFormat']">
            The {{ errorPlaceholder }} address is not in a valid format
        </span>

        <span *ngIf="errors['ensUnsupported']">
            {{ (network$ | async).name }} network is unsupported for ENS
            resolution
        </span>
    </span>
    <ng-template #hint_text>
        <span *ngIf="hint()" class="info-box__hint">
            {{ hint() }}
        </span>
    </ng-template>
</div>
