@import '../../../sass/fonts';
@import '../../../sass/colors';

.input {
    z-index: 1;
    position: relative;
    height: 32px;

    &--contact {
        margin-top: 20px;
    }

    &__field {
        border-radius: 25px;
        background-color: $light-grey;
        border: none;
        box-shadow: none;
        font-family: $main-font;
        padding: 0 18px;
        height: 100%;
        font-size: 13px;
        line-height: 15px;
        letter-spacing: 0.35px;
        color: $black;
        min-width: 0;

        &:disabled {
            color: $text-grey;
        }
    }
}

.icon-box {
    height: 100%;

    &__identicon {
        border-radius: 50%;
        height: 100%;
    }
}

.info-box {
    min-height: 32px;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.35px;

    &__text {
        overflow: hidden;
        text-overflow: ellipsis;
        margin-left: 18px;

        &--error {
            color: $red;
        }

        &--clickable {
            color: $action-blue;
            cursor: pointer;

            &:hover {
                color: $action-light-blue;
            }
        }
    }
}

.options {
    height: 100%;
    overflow-y: auto;
    overflow-wrap: break-word;
}

.icon {
    height: 20px !important;
    line-height: 20px;
}
