.header {
    min-height: 64px;
    color: #b8b8b8;
    font-size: 11px;
    line-height: 19px;
    letter-spacing: 0.91px;
    margin-bottom: 121px;
}

.header__logo {
    height: 52px;
    margin-right: 32px;
}

.header__logo-mobile {
    height: 26px;
}

.header__label {
    text-transform: uppercase;
}

.header__label--secondary {
    opacity: 0.5;
}

.header__alert-box {
    background-color: #4e4e4e;
    border-radius: 7.24px;
    height: 19px;
    width: 104.5px;
    text-align: center;
}

.header__address {
    width: 164px;
    font-size: 13px;
    letter-spacing: 1.07px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.header__icon-button {
    border: 1px solid #b8b8b8;
}

.header__icon {
    height: 18px !important;
    width: 18px !important;
}

.header__notification-icon {
    height: 22px !important;
    width: 22px !important;
    color: #4e4e4e;
}
