<div
    class="header"
    ngClass.lt-lg="header--mobile"
    fxLayout="row"
    fxLayoutGap="30px"
    fxLayout.lt-lg="column"
>
    <div *ngIf="isMobile()" fxLayout="column" fxLayoutAlign="center">
        <button
            aria-label="Toggle navigation menu"
            mat-icon-button
            (click)="toggleMenu.emit(true)"
        >
            <mat-icon aria-label="Toggle navigation menu">menu</mat-icon>
        </button>
    </div>

    <div
        fxLayout="row"
        fxLayoutAlign="space-between start"
        fxLayoutGap="16px"
        fxFlex.gt-md="555 0 0"
    >
        <div
            class="header__box header__box--unpadded"
            fxLayout="row"
            fxLayoutAlign="space-evenly center"
            fxFlex="1 0 0"
        >
            <div
                *ngIf="balance$ | async as balance"
                fxLayout="column"
                fxLayoutGap="4px"
            >
                <span fxLayout="row">
                    <span
                        [matTooltip]="balance"
                        class="header__balance header__balance--limited"
                    >
                        {{ balance | displayDecimals: 3 }}&nbsp;
                    </span>
                    <span class="header__balance header__balance--uppercase">
                        {{ (network$ | async)?.shortName }}
                    </span>
                    <span
                        *ngIf="zeroBalance$ | async"
                        class="alert"
                        fxLayout="column"
                        fxLayoutAlign="center center"
                        fxFlexOffset="6px"
                    >
                        <mat-icon
                            svgIcon="down-arrow"
                            aria-hidden="true"
                            class="alert__icon"
                            matTooltip="Funds needed"
                            id="balance-alert"
                        ></mat-icon>
                    </span>
                </span>
                <span class="header__label">On-Chain</span>
            </div>
            <div class="divider"></div>
            <div
                *ngIf="servicesToken$ | async as servicesToken"
                fxLayout="column"
                fxLayoutGap="4px"
            >
                <span fxLayout="row" fxLayoutGap="6px">
                    <app-balance-with-symbol
                        class="header__balance"
                        [balance]="udcBalance$ | async"
                        [token]="servicesToken"
                        id="udc-balance"
                    ></app-balance-with-symbol>
                    <button
                        class="small-balance-button"
                        [ngClass]="{
                            'small-balance-button--in-progress':
                                (udcWithdrawPlanned$ | async) ||
                                pendingUdcTransaction(),
                            'small-balance-button--alert':
                                zeroUdcBalance$ | async
                        }"
                        mat-icon-button
                        matTooltip="Manage UDC deposit"
                        fxLayout="column"
                        fxLayoutAlign="center center"
                        (click)="openUdcDialog()"
                        id="open-udc"
                    >
                        <mat-icon
                            class="small-balance-button__icon"
                            svgIcon="manage-funds"
                            aria-label="Manage UDC deposit"
                        >
                        </mat-icon>
                    </button>
                </span>
                <span class="header__label">UDC Deposit</span>
            </div>
            <ng-container *ngIf="tokens$ | async as tokens">
                <ng-container *ngIf="tokens[0] as token">
                    <div class="divider"></div>
                    <div
                        fxLayout="column"
                        fxLayoutGap="4px"
                        class="header__token-balance"
                    >
                        <span fxLayout="row" fxLayoutGap="6px">
                            <app-balance-with-symbol
                                class="header__balance"
                                [balance]="token.balance"
                                [token]="token"
                            ></app-balance-with-symbol>
                            <button
                                *ngIf="(onMainnet$ | async) === false"
                                class="small-balance-button"
                                [class.small-balance-button--in-progress]="
                                    mintPending[token.address]
                                "
                                mat-icon-button
                                matTooltip="Mint token"
                                fxLayout="column"
                                fxLayoutAlign="center center"
                                (click)="mint(token)"
                                [disabled]="mintPending[token.address]"
                                id="mint"
                            >
                                <mat-icon
                                    class="small-balance-button__icon"
                                    svgIcon="mint"
                                    aria-label="Mint token"
                                >
                                </mat-icon>
                            </button>
                        </span>
                        <span class="header__label">On-Chain</span>
                    </div>
                </ng-container>
                <ng-container *ngIf="tokens.length > 1">
                    <div class="divider"></div>
                    <button
                        mat-icon-button
                        class="balances-button"
                        matTooltip="Show all on-chain balances"
                        [matTooltipDisabled]="tokenBalancesOpen"
                        (click)="tokenBalancesOpen = !tokenBalancesOpen"
                        appStopClickPropagation
                        cdkOverlayOrigin
                        #tokenBalancesTrigger="cdkOverlayOrigin"
                        id="on-chain-balances-button"
                    >
                        <mat-icon
                            class="balances-button__icon"
                            svgIcon="doublearrow"
                            aria-label="Toggle on-chain balances view"
                        >
                        </mat-icon>
                    </button>
                    <ng-template
                        cdkConnectedOverlay
                        [cdkConnectedOverlayOrigin]="tokenBalancesTrigger"
                        [cdkConnectedOverlayOpen]="tokenBalancesOpen"
                    >
                        <div #token_balances_list class="balances-overlay">
                            <div class="balances-overlay__label">
                                <span class="balances-overlay__label-text"
                                    >On-Chain</span
                                >
                            </div>
                            <div
                                *ngFor="
                                    let token of tokens;
                                    trackBy: tokenTrackByFn
                                "
                                class="balances-overlay__item"
                            >
                                <app-balance-with-symbol
                                    [balance]="token.balance"
                                    [token]="token"
                                ></app-balance-with-symbol>
                            </div>
                        </div>
                    </ng-template>
                </ng-container>
            </ng-container>
            <div class="divider"></div>
            <button
                mat-icon-button
                class="balances-button"
                matTooltip="Fill up your account"
            >
                <mat-icon
                    class="balances-button__icon"
                    svgIcon="deposit"
                    aria-label="Fill up your account"
                >
                </mat-icon>
            </button>
        </div>
    </div>

    <div
        fxLayout="row"
        fxLayoutAlign="start"
        fxLayoutGap="16px"
        fxFlex.gt-md="334 0 0"
    >
        <div
            fxLayout="row"
            fxLayoutAlign="start center"
            class="header__box"
        >
            <div fxLayout="column" fxLayoutGap="4px">
                <span fxLayout="row" fxLayoutGap="6px">
                    <mat-icon
                        svgIcon="user"
                        aria-hidden="true"
                        class="header__user-icon"
                        matTooltip="Your account
                            {{ raidenAddress }}
                            (Click to copy)"
                        ngxClipboard
                        [cbContent]="raidenAddress"
                    ></mat-icon>
                    <button
                        mat-icon-button
                        matTooltip="Show QR code to scan your address"
                        (click)="showOwnAddressQrCode()"
                        class="small-balance-button"
                        fxLayout="column"
                        fxLayoutAlign="center center"
                        id="qr-button"
                    >
                        <mat-icon
                            class="small-balance-button__icon small-balance-button__icon--small"
                            svgIcon="qr"
                            aria-label="Show QR code to scan your address"
                        >
                        </mat-icon>
                    </button>
                </span>
                <span
                    class="header__address"
                    matTooltip="Your account
                        {{ raidenAddress }}
                        (Click to copy)"
                    ngxClipboard
                    [cbContent]="raidenAddress"
                >
                    {{ raidenAddress | shortenAddress }}
                </span>
            </div>
        </div>
        <app-search-field
            fxFlex="1 0 0"
            fxFlex.lt-lg="0 1 233px"
        ></app-search-field>
        <button
            class="notification-panel-button"
            mat-icon-button
            matTooltip="Open notification panel"
            (click)="toggleNotifications.emit(true)"
        >
            <mat-icon
                *ngIf="(numberOfNotifications$ | async) === 0; else show_badge"
                class="notification-panel-button__icon"
                svgIcon="notification"
                aria-label="Open notification panel"
            >
            </mat-icon>
            <ng-template #show_badge>
                <mat-icon
                    class="notification-panel-button__icon"
                    svgIcon="notification-with-badge"
                    aria-label="Open notification panel"
                    id="badge"
                >
                </mat-icon>
            </ng-template>
        </button>
    </div>
</div>
