@import '../../../sass/colors';

.header {
    height: 60px;
    font-size: 14px;
    line-height: 16px;

    &--mobile {
        height: unset;
    }

    &__balance {
        color: $light-grey;

        &--uppercase {
            text-transform: uppercase;
        }

        &--limited {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 50px;
        }
    }

    &__label {
        font-size: 12px;
        line-height: 14px;
        color: $dark-grey;
    }

    &__box {
        height: 60px;
        background-color: $bg-dark-grey;
        padding: 0 16px;
        border-radius: 15px;

        &--unpadded {
            padding: 0;
        }
    }

    &__address {
        color: $light-grey;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 1.07px;
    }

    &__user-icon {
        height: 16px;
        width: 16px;
    }
}

.divider {
    height: 36px;
    width: 1px;
    background-color: $bg-grey;
}

.small-balance-button {
    height: 24px !important;
    width: 24px !important;
    background-color: $bg-dark-light-grey;
    margin: -4px 0;

    &__icon {
        color: $light-grey;
        height: 16px !important;
        width: 16px !important;
        line-height: 16px;

        &--small {
            width: 13px !important;
            height: 13px !important;
            line-height: 13px !important;
        }
    }

    &--alert {
        background-color: $bg-label-red !important;
    }

    &--alert &__icon {
        color: $label-red !important;
    }

    &--in-progress {
        background-color: $bg-label-yellow !important;
        opacity: 1;
        border: none;

        &:disabled {
            cursor: wait;
        }
    }

    &--in-progress &__icon {
        color: $label-yellow !important;
    }
}

.balances-button {
    height: 36px !important;
    width: 36px !important;
    background-color: $bg-grey;

    &__icon {
        color: $dark-grey;
        height: 24px !important;
        width: 24px !important;
    }
}

.balances-overlay {
    background-color: $black;
    border-radius: 8px;
    font-size: 12px;
    line-height: 15px;
    color: $white;
    width: 125px;
    max-height: 171px;
    overflow-y: scroll;

    &__label {
        width: 100%;
        padding-top: 13.5px;
        padding-bottom: 7.5px;
        background-color: $black;
        position: sticky;
        position: -webkit-sticky;
        top: 0;
    }

    &__label-text {
        margin: 0 16px;
        color: $dark-grey;
    }

    &__item {
        padding: 7.5px 0;
        margin: 0 16px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        border-bottom: 1px solid $light-divider;

        &:last-child {
            border-bottom: none;
            padding-bottom: 12px;
        }
    }
}

.notification-panel-button {
    height: 60px !important;
    width: 60px !important;
    background-color: $bg-dark-grey;

    &__icon {
        color: $grey;
        height: 26px !important;
        width: 24px !important;
    }
}
