<div class="header" fxLayout="row wrap" fxLayoutAlign="space-between center">
    <a target="_blank" href="http://raiden.network/">
        <img
            alt="Raiden logo"
            src="assets/logo.svg"
            ngClass.xs="header__logo-mobile"
            ngClass="header__logo"
        />
    </a>

    <div
        fxFlexAlign="start"
        fxLayout="row wrap"
        fxLayoutAlign="start end"
        fxLayoutGap="32px"
    >
        <div
            *ngIf="balance$ | async as balance"
            class="header__label"
            fxLayout="row"
            fxLayoutGap="18px"
        >
            <div>
                <span [matTooltip]="balance"
                    >{{ balance | displayDecimals: 3 }}
                    {{ (network$ | async)?.shortName }}
                </span>
                on-chain balance
            </div>
            <div *ngIf="zeroBalance$ | async" class="header__alert-box">
                Funds needed
            </div>
        </div>

        <div fxLayout="row" fxLayoutGap="16px">
            <div class="header__label header__label--secondary">
                Your address
            </div>
            <span
                class="header__address"
                matTooltip="{{ raidenAddress }}
            (Click to copy)"
                ngxClipboard
                [cbContent]="raidenAddress"
                >{{ raidenAddress }}</span
            >
        </div>

        <div fxLayout="row" fxLayoutGap="18px">
            <button
                mat-icon-button
                matTooltip="Show QR code to scan your address"
                (click)="showOwnAddressQrCode()"
                class="header__icon-button"
                fxLayout="column"
                fxLayoutAlign="center center"
                id="qr-button"
            >
                <mat-icon
                    class="header__icon"
                    svgIcon="qr"
                    aria-label="Show QR code to scan your address"
                >
                </mat-icon>
            </button>
            <a
                *ngIf="(network$ | async)?.faucet"
                [href]="faucetLink$ | async"
                target="_blank"
                mat-icon-button
                class="header__icon-button"
                matTooltip="Open ether faucet"
                fxLayout="column"
                fxLayoutAlign="center center"
                id="faucet-button"
            >
                <mat-icon
                    class="header__icon"
                    svgIcon="faucet"
                    aria-label="Open ether faucet"
                >
                </mat-icon>
            </a>
        </div>

        <div fxLayout="row" fxLayoutGap="10px">
            <app-search-field></app-search-field>
            <button
                mat-icon-button
                matTooltip="Open notification panel"
                (click)="toggleNotificationSidenav()"
                id="notification-button"
            >
                <mat-icon
                    class="header__notification-icon"
                    svgIcon="notification"
                    aria-label="Open notification panel"
                    [matBadge]="numberOfNotifications$ | async"
                    matBadgeOverlap="true"
                    matBadgePosition="above after"
                    [matBadgeHidden]="(numberOfNotifications$ | async) === '0'"
                >
                </mat-icon>
            </button>
        </div>
    </div>
</div>
