<div
    class="header"
    fxLayout="row"
    fxLayoutGap="35px"
    fxLayoutAlign="start start"
>
    <a class="header__link" target="_blank" href="http://raiden.network/">
        <img
            alt="Raiden logo"
            src="assets/logo.svg"
            ngClass.xs="header__logo-mobile"
            ngClass="header__logo"
        />
    </a>
    <div fxLayout="column" *ngIf="balance$ | async as balance">
        <span class="header__number" [matTooltip]="balance"
            >{{ balance | displayDecimals: 3 }}
            {{ (network$ | async)?.shortName }}
        </span>
        <span class="header__label">
            On-chain balance
        </span>
    </div>
    <button
        mat-flat-button
        *ngIf="balance$ | async"
        color="accent"
        class="header__account-button"
        (click)="showAddress = !showAddress"
    >
        <ng-container *ngIf="!showAddress; else close">
            Top up
        </ng-container>
        <ng-template #close>
            Close
        </ng-template>
    </button>
    <div fxLayout="column">
        <span class="header__number">
            {{ openChannels }}
        </span>
        <span class="header__label">
            Open channels
        </span>
    </div>
    <div fxLayout="column">
        <span class="header__number">
            {{ joinedNetworks }}
        </span>
        <span class="header__label">
            Joined networks
        </span>
    </div>
    <span fxFlex="1 1 auto"></span>
    <app-search-field fxFlexAlign="end"></app-search-field>
    <button
        mat-icon-button
        matTooltip="Open notification panel"
        fxFlexAlign="end"
        (click)="toggleNotificationSidenav()"
        id="notification_button"
    >
        <mat-icon
            class="header__icon"
            svgIcon="notification"
            aria-label="Open notification panel"
        >
        </mat-icon>
    </button>
</div>

<div class="header header--secondary" fxLayout="column" fxLayoutAlign="end">
    <span
        *ngIf="showAddress"
        fxLayout="row"
        fxLayoutAlign="start center"
        fxLayoutGap="6px"
    >
        <span class="header__label" fxFlexOffset="67px">
            Your address
        </span>
        <span class="header__address" fxFlexOffset="10px">{{
            raidenAddress
        }}</span>
        <button
            mat-icon-button
            ngxClipboard
            [cbContent]="raidenAddress"
            matTooltip="Copy address to clipboard"
        >
            <mat-icon
                class="header__icon"
                svgIcon="copy"
                aria-label="Copy address to clipboard"
            >
            </mat-icon>
        </button>
        <button
            mat-icon-button
            matTooltip="Show QR code to scan your address"
            (click)="showOwnAddressQrCode()"
            class="header__qr-code"
        >
            <mat-icon
                class="header__icon"
                svgIcon="qr"
                aria-label="Show QR code to scan your address"
            >
            </mat-icon>
        </button>
        <a
            *ngIf="(network$ | async)?.faucet"
            [href]="faucetLink$ | async"
            target="_blank"
            mat-icon-button
            class="header__faucet"
            matTooltip="Open ether faucet"
        >
            <mat-icon
                class="header__icon"
                svgIcon="faucet"
                aria-label="Open ether faucet"
            >
            </mat-icon>
        </a>
    </span>
</div>
