.header {
    height: 53px;
    color: #b8b8b8;
    font-size: 41px;
    line-height: 32px;
    font-weight: 300;
    padding: 0;
    margin-bottom: 16px;
}

.header--secondary {
    height: 66px !important;
    border-top: 1px solid rgba(151, 151, 151, 0.11);
}

.header__logo {
    height: 44px;
}

.header__logo-mobile {
    height: 25px;
}

.header__number {
    text-transform: uppercase;
    margin-bottom: 8px;
}

.header__label {
    text-transform: uppercase;
    letter-spacing: 0.91px;
    font-size: 11px;
    opacity: 0.5;
    line-height: 13px;
    font-weight: 400;
}

.header__account-button {
    height: 38px;
    width: 118px;
}

.header__address {
    font-size: 13px;
    letter-spacing: 1.07px;
    line-height: 15px;
}

.header__icon {
    height: 20px;
    width: 20px;
    line-height: 20px;
}

.header__link {
    outline: none;
}

.search {
    border-radius: 25px;
    background-color: #393939;
}

.search__icon {
    margin-left: 18px;
    height: 17px;
    width: 17px;
    line-height: 17px;
    font-size: 17px;
}

.search__input {
    width: 130px;
    height: 32px;
    padding: 0 18px;
    background: none;
    border: none;
    box-shadow: none;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    font-size: 13px;
    line-height: 15px;
    color: rgba(255, 255, 255, 0.5);
}
