.header {
    min-height: 50px;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 1px;
}

.header__label {
    text-transform: uppercase;
}

.header__label--secondary {
    opacity: 0.7;
}

.header__box {
    background-color: rgba(255, 255, 255, 0.06);
    height: 100%;
    padding: 0 20px;
    border-radius: 25px;
}

.header__alert-box {
    background-color: rgba(255, 0, 0, 0.3);
    border-radius: 9px;
    height: 20px;
    padding: 0 12px;
    text-align: center;
    color: #ff0000;
}

.header__address {
    width: 115px;
    font-size: 13px;
    letter-spacing: 1.07px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.account-button {
    height: 29px !important;
    width: 29px !important;
    border: 2px solid #ffffff;
}

.account-button__icon {
    height: 15px !important;
    width: auto !important;
    line-height: 15px !important;
}

.notification-button {
    height: 50px !important;
    width: 50px !important;
    background-color: rgba(255, 255, 255, 0.2);
}

.notification-button__icon {
    color: #000000;
}
