@import '../../../sass/colors';

.info {
    &__balance {
        font-weight: 500;
        font-size: 26px;
        line-height: 32px;
        padding: 3.5px 0;
        color: $white;
    }

    &__label {
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.04em;

        &--big {
            text-transform: uppercase;
        }
    }

    &__icon {
        height: 16px !important;
        width: 16px !important;
        line-height: 16px;
    }

    &__box {
        background-color: $bg-dark-grey;
        color: $dark-grey;
        height: 27px;
        padding: 0 8px;
        border-radius: 8px;
    }

    &__alert {
        background-color: $bg-label-red;
        width: 22px;
        height: 22px;
        border-radius: 50%;
        color: $label-red;
    }
}

.mint-button {
    height: 19px !important;
    width: 19px !important;
    background-color: $bg-dark-light-grey;

    &__icon {
        color: $light-grey;
        height: 14px !important;
        width: 14px !important;
        line-height: 14px;
    }

    &--in-progress {
        background-color: $bg-label-yellow !important;
        opacity: 1;
        border: none;

        &:disabled {
            cursor: wait;
        }
    }

    &--in-progress &__icon {
        color: $label-yellow !important;
    }
}

.action {
    font-size: 14px !important;
    line-height: 16px !important;
    width: 198px;
    height: 40px;

    &__icon {
        height: 24px !important;
        width: 24px !important;
        line-height: 24px;
        margin-right: 4px;
    }

    &__spinner {
        margin-left: 16px;
        display: inline-block;
    }
}

.withdrawal-info {
    padding: 4px 9px;
    border-radius: 8px;
    background-color: $bg-dark-grey;
    color: $dark-grey;
    font-size: 12px;
    line-height: 15px;

    &__label {
        font-size: 10px;
        line-height: 14px;
        text-transform: uppercase;
        letter-spacing: 0.04em;
    }

    &__icon {
        height: 16px !important;
        width: 16px !important;
        line-height: 16px;
    }

    &--yellow {
        background-color: $bg-label-dark-yellow;
        color: $label-yellow;
    }

    &--green {
        background-color: $bg-label-green;
        color: $label-green;
    }
}

.ready-withdrawal {
    background-color: $bg-grey;
    border-radius: 8px;
    padding: 16px;
    font-size: 14px;
    line-height: 16px;

    &__token-info {
        max-width: 200px;
    }

    &__label {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &--bold {
            color: $white;
            font-weight: 500;
        }
    }

    &__button {
        font-size: 16px !important;
        line-height: 19px !important;
        background-color: $bg-action-blue;
        color: $action-blue;
        padding: 0 13px !important;
        height: 40px;
        border-radius: 8px !important;

        &:disabled {
            cursor: wait;
        }
    }

    &__icon {
        height: 24px !important;
        width: 24px !important;
        line-height: 24px;
    }

    &__spinner {
        margin-left: 8px;
        display: inline-block;
    }
}

.form {
    z-index: 2500;
    background-color: $black;
    position: absolute;
    margin: 0 !important;
    top: 153px;
    left: 0;
    right: 0;
    bottom: 0;
}
