<app-raiden-dialog
    titleText="Transfer"
    acceptText="Send"
    [acceptDisabled]="form.invalid"
    [formGroup]="form"
    (accept)="accept()"
    (cancel)="cancel()"
>
    <app-token-network-selector
        formControlName="token"
        (tokenChanged)="tokenNetworkSelected($event)"
        [onlyConnectedTokens]="true"
    >
    </app-token-network-selector>
    <app-address-input
        [displayIdenticon]="true"
        [userAccount]="true"
        formControlName="target_address"
        placeholder="Receiver"
    >
    </app-address-input>
    <app-token-input
        formControlName="amount"
        [showTransferLimit]="true"
    ></app-token-input>
    <app-payment-identifier-input formControlName="payment_identifier">
    </app-payment-identifier-input>
</app-raiden-dialog>
