<app-page-base
    (pageChanged)="onPageEvent($event)"
    [pageSize]="pageSize"
    [refreshing]="refreshing$ | async"
    [totalElements]="totalChannels"
    noItemsMessage="No channels found!"
>
    <app-page-header
        pageHeader
        (added)="onOpenChannel()"
        (cleared)="clearFilter()"
        (filtered)="this.filter = $event; applyKeywordFilter()"
        (ordered)="changeOrder()"
        (sorted)="changeSorting($event)"
        [ascending]="ascending"
        [keyword]="filter"
        [showButton]="true"
        [sortingOptions]="sortingOptions"
        [sorting]="sorting"
        [total]="totalChannels"
        label="Channels"
    >
    </app-page-header>

    <div
        *ngIf="totalChannels > 0"
        [@flyInOut]="'in'"
        class="token-transfer-button"
        fxLayout="row"
        fxLayoutAlign="end"
    >
        <button mat-raised-button color="accent" (click)="onPay()">
            <mat-icon>payment</mat-icon>
            {{ 'Send Tokens' | uppercase }}
        </button>
    </div>

    <app-channel
        *ngFor="let channel of visibleChannels; trackBy: trackByFn"
        [channel]="channel"
        pageItem
    >
    </app-channel>
</app-page-base>
