@import '../../../sass/mixins';

:host {
    height: 100%;
}

.channel-id {
    text-align: center;
    font-size: 14px;
}

.channel-status {
    font-size: 13px;
}

.no-margin {
    margin: 0 !important;
}

.space {
    margin-left: 6px;
}

.light {
    font-weight: 300;
}

.gray {
    color: #424242 !important;
}

.token-transfer-button {
    margin: 0.8rem 0.8rem 1.2rem;
    min-height: 36px;
    @include respond-to(handhelds) {
        margin: 0.2rem 0.2rem 0.8rem;
    }
}

.token-transfer-button button mat-icon {
    font-size: 20px;
}
