<div mat-dialog-title>Add address</div>
<div mat-dialog-content [formGroup]="form">
    <app-address-input
        formControlName="address"
        placeholder="Address"
        errorPlaceholder="Contact"
        [displayIdenticon]="true"
    ></app-address-input>
    <mat-form-field hideRequiredMarker class="full-width-form-field">
        <input
            id="addresses-label"
            matInput
            placeholder="Label"
            formControlName="label"
            required
        />
        <mat-error *ngIf="isValid('label')">
            The label cannot be empty!
        </mat-error>
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancel</button>
    <button
        id="addresses-save"
        mat-button
        color="accent"
        [disabled]="!form.valid"
        (click)="confirm()"
        matTooltip="Adds a new address to the address book"
    >
        Add
    </button>
</div>
