:host {
    height: 100%;
}

.history {
    font-size: 16px;
    line-height: 19px;
    background-color: rgba(255, 255, 255, 0.06);
    border-radius: 15px;
    padding: 12px 20px 22px 20px;
    height: 100%;
}

.history--mobile {
    min-height: 340px;
}

.label {
    min-height: 32px;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 1px;
    text-transform: uppercase;
    opacity: 0.75;
}

.label__link {
    text-decoration: underline;
    text-transform: capitalize;
    color: #ffffff;
}

.table__row {
    padding-bottom: 12px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.table__row:last-child {
    padding: 0;
    border: none;
}

.table__main {
    max-width: 200px;
    height: 41px;
}

.table__partner {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.table__date {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    opacity: 0.5;
    margin-top: 4px;
}

.table__amount {
    text-align: right;
    font-weight: 700;
}

.table__label {
    text-transform: uppercase;
    border-radius: 9px;
    padding: 0 12px;
    font-size: 10px;
    line-height: 18px;
    letter-spacing: 0.5px;
    text-align: center;
    background-color: rgba(29, 197, 18, 0.3);
    color: #1dc512;
    margin-top: 4px;
}

.table__label--pending {
    background-color: rgba(253, 211, 39, 0.3);
    color: #fdd327;
}

.table__label--failed {
    background-color: rgba(255, 0, 0, 0.3);
    color: #ff0000;
}

.icon-box {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
}

.icon-box__icon {
    color: #000000;
    width: 14px;
}

.navigation:disabled {
    border: none;
}

.navigation__icon {
    height: 100% !important;
    width: unset !important;
}
