<div
    class="history"
    fxLayout="column"
    fxLayoutGap="20px"
    [@flyInOutLeft]="'in'"
>
    <div class="label" fxLayout="row" fxLayoutAlign="space-between end">
        <span>Transfer history</span>
        <a
            *ngIf="!showAll; else navigation"
            class="label__link"
            routerLink="/transfers"
        >
            All
        </a>
        <ng-template #navigation>
            <div
                *ngIf="visibleHistory.length !== 0"
                fxLayout="row"
                fxLayoutAlign="start end"
                fxLayoutGap="10px"
            >
                <span>Page {{ currentPage + 1 }} of {{ numberOfPages }}</span>
                <button
                    class="navigation"
                    mat-icon-button
                    [disabled]="currentPage <= 0"
                    (click)="previousPage()"
                    id="previous"
                >
                    <mat-icon
                        class="navigation__icon"
                        svgIcon="left"
                        aria-label="Previous page"
                    >
                    </mat-icon>
                </button>
                <button
                    class="navigation"
                    mat-icon-button
                    [disabled]="currentPage + 1 >= numberOfPages"
                    (click)="nextPage()"
                    id="next"
                >
                    <mat-icon
                        class="navigation__icon"
                        svgIcon="right"
                        aria-label="Next page"
                    >
                    </mat-icon>
                </button>
            </div>
        </ng-template>
    </div>
    <cdk-table
        *ngIf="visibleHistory.length !== 0; else no_transfers"
        class="table"
        [dataSource]="visibleHistory"
        [trackBy]="trackByFn"
        fxLayout="column"
        fxLayoutGap="17px"
    >
        <ng-container cdkColumnDef="event">
            <cdk-cell *cdkCellDef="let event">
                <div
                    class="icon-box"
                    fxLayout="column"
                    fxLayoutAlign="center center"
                >
                    <mat-icon
                        *ngIf="isReceivedEvent(event); else sent"
                        class="icon-box__icon"
                        svgIcon="received"
                    ></mat-icon>
                    <ng-template #sent>
                        <mat-icon
                            class="icon-box__icon"
                            svgIcon="sent"
                        ></mat-icon>
                    </ng-template>
                </div>
            </cdk-cell>
        </ng-container>

        <ng-container cdkColumnDef="main">
            <cdk-cell *cdkCellDef="let event" class="table__main">
                <div class="table__partner">
                    <ng-container *ngIf="isReceivedEvent(event); else sent_to">
                        Received from
                    </ng-container>
                    <ng-template #sent_to>
                        Sent to
                    </ng-template>
                    <span
                        *ngIf="partnerAddress(event) as address"
                        matTooltip="{{ address }}
                        (Click to copy)"
                        ngxClipboard
                        [cbContent]="address"
                    >
                        {{ paymentPartner(event) }}
                    </span>
                </div>
                <div *ngIf="!event.pending" class="table__date">
                    {{ getUTCTimeString(event) | date: 'dd-MM-yyy H:mm' }}
                </div>
            </cdk-cell>
        </ng-container>

        <ng-container cdkColumnDef="spacer">
            <cdk-cell *cdkCellDef="let event" fxFlex="1 1 auto"> </cdk-cell>
        </ng-container>

        <ng-container cdkColumnDef="amount">
            <cdk-cell
                *cdkCellDef="let event"
                fxLayout="column"
                fxLayoutAlign="start end"
            >
                <div *ngIf="event.userToken" class="table__amount">
                    <ng-container *ngIf="isReceivedEvent(event); else minus">
                        +
                    </ng-container>
                    <ng-template #minus>
                        -
                    </ng-template>
                    <span
                        *ngIf="
                            event.amount
                                | decimal: event.userToken.decimals as amount
                        "
                        [matTooltip]="amount"
                    >
                        {{ amount | displayDecimals: 3 }}
                    </span>
                    <span
                        matTooltip="{{ event.userToken.name }}
                            {{ event.userToken.address }}
                            (Click to copy)"
                        ngxClipboard
                        [cbContent]="event.userToken.address"
                    >
                        {{ event.userToken.symbol }}
                    </span>
                </div>
                <div>
                    <ng-container *ngIf="event.pending; else confirmed">
                        <div class="table__label table__label--pending">
                            Pending
                        </div>
                    </ng-container>
                    <ng-template #confirmed>
                        <div class="table__label">Confirmed</div>
                    </ng-template>
                </div>
            </cdk-cell>
        </ng-container>

        <cdk-row
            class="table__row"
            *cdkRowDef="let row; columns: ['event', 'main', 'spacer', 'amount']"
            fxLayout="row"
            fxLayoutAlign="start start"
            fxLayoutGap="20px"
        ></cdk-row>
    </cdk-table>
    <ng-template #no_transfers>
        <div>No {{ selectedToken?.symbol }} transfers</div>
    </ng-template>
</div>
