@import '../../../sass/colors';

:host {
    height: 100%;
}

.history {
    font-size: 16px;
    line-height: 19px;
    background-color: $bg-dark-grey;
    border-radius: 15px;
    padding: 12px 20px 22px 20px;
    height: 100%;

    &--mobile {
        min-height: 340px;
    }
}

.label {
    min-height: 32px;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 1px;
    text-transform: uppercase;
    opacity: 0.75;

    &__link {
        text-decoration: underline;
        text-transform: capitalize;
        color: $white;
    }
}

.table {
    &__row {
        padding-bottom: 12px;
        border-bottom: 1px solid $light-divider;

        &:last-child {
            padding: 0;
            border: none;
        }
    }

    &__main {
        max-width: 200px;
        height: 41px;
    }

    &__partner {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__date {
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        text-transform: uppercase;
        opacity: 0.5;
        margin-top: 4px;
    }

    &__amount {
        text-align: right;
        font-weight: 700;
    }

    &__label {
        text-transform: uppercase;
        border-radius: 9px;
        padding: 0 12px;
        font-size: 10px;
        line-height: 18px;
        letter-spacing: 0.5px;
        text-align: center;
        background-color: $bg-label-green;
        color: $label-green;
        margin-top: 4px;

        &--pending {
            background-color: $bg-label-yellow;
            color: $label-yellow;
        }

        &--failed {
            background-color: $bg-label-red;
            color: $label-red;
        }
    }
}

.icon-box {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #414141;

    &__icon {
        color: $black;
        width: 14px;
    }
}

.navigation {
    &:disabled {
        border: none;
    }

    &__icon {
        height: 100% !important;
        width: unset !important;
    }
}
