<h1 mat-dialog-title>Filter</h1>
<div mat-dialog-content>
    <mat-form-field
        class="full-width-form-field"
        fxFlex="1 1 auto"
        fxLayout="column"
    >
        <mat-select
            (selectionChange)="sort($event.value)"
            [value]="sorting"
            placeholder="Sort by"
        >
            <mat-option
                *ngFor="let option of sortingOptions"
                [value]="option.value"
                >{{ option.label }}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <button
        (click)="order()"
        fxFlexAlign="center"
        mat-icon-button
        matTooltip="Change the sorting order"
    >
        <mat-icon aria-label="Change sorting order"
            >{{ ascending ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}
        </mat-icon>
    </button>
</div>
<div mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button (click)="apply()">Confirm</button>
</div>
