<div class="actions" fxLayout="row" fxLayoutGap="20px">
    <button
        class="actions__button"
        id="deposit-button"
        mat-flat-button
        color="accent"
        [disabled]="channel.state !== 'opened'"
        (click)="deposit()"
    >
        Deposit
    </button>
    <button
        class="actions__button"
        id="withdraw-button"
        mat-flat-button
        color="accent"
        [disabled]="channel.state !== 'opened'"
        (click)="withdraw()"
    >
        Withdraw
    </button>
    <button
        class="actions__button"
        id="close-button"
        mat-flat-button
        color="accent"
        [disabled]="channel.state !== 'opened'"
        (click)="close()"
    >
        Close
    </button>
</div>
