<div class="actions" fxLayout="row" fxLayoutGap="20px">
    <button
        class="actions__button"
        id="pay-button"
        mat-flat-button
        color="accent"
        [disabled]="channel.state !== 'opened' || channel.balance.isZero()"
        (click)="pay()"
        stopClickPropagation
    >
        Direct Transfer
    </button>
    <button
        class="actions__button"
        id="deposit-button"
        mat-flat-button
        color="accent"
        [disabled]="channel.state !== 'opened'"
        (click)="deposit()"
        stopClickPropagation
    >
        Deposit
    </button>
    <button
        class="actions__button"
        id="withdraw-button"
        mat-flat-button
        color="accent"
        [disabled]="channel.state !== 'opened'"
        (click)="withdraw()"
        stopClickPropagation
    >
        Withdraw
    </button>
    <button
        class="actions__button"
        id="close-button"
        mat-flat-button
        color="accent"
        [disabled]="channel.state !== 'opened'"
        (click)="close()"
        stopClickPropagation
    >
        Close
    </button>
</div>
