.page {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 95px;
}

.button {
    width: 130px;
    padding: 0 25px !important;
}

.button__icon {
    width: 24px;
    margin-right: 15px;
}
