<div
    class="page"
    fxFlex="90"
    fxFlex.xs="96"
    fxFlex.lg="70"
    fxFlex.xl="60"
    fxLayout="column"
    fxLayoutGap="37px"
>
    <div fxLayout="column" fxLayoutGap="21px" fxFlexOffset="39px">
        <app-token-carousel></app-token-carousel>
        <div fxLayout="row" fxLayoutAlign="center">
            <button
                class="button"
                mat-flat-button
                color="accent"
                (click)="pay()"
            >
                <mat-icon
                    class="button__icon"
                    svgIcon="transfer"
                    aria-label="Transfer tokens"
                >
                </mat-icon>
                <span>
                    Transfer
                </span>
            </button>
            <div fxFlex="0 0 613px"></div>
            <div *ngIf="!selectedToken" fxFlex="0 0 181px"></div>
            <button
                *ngIf="!!selectedToken"
                class="button"
                mat-flat-button
                color="accent"
                (click)="openConnectionManager()"
            >
                <mat-icon
                    class="button__icon button__icon--small"
                    svgIcon="thunderbolt"
                    aria-label="Open quick connect dialog"
                >
                </mat-icon>
                <span>
                    Quick connect
                </span>
            </button>
        </div>
    </div>
    <app-channel-list></app-channel-list>
    <div fxLayout="row" fxLayoutGap="61px">
        <app-contact-list fxFlex="1 1 341px"></app-contact-list>
        <app-history-table fxFlex="1 1 auto"></app-history-table>
    </div>
</div>
