@import '../../../sass/mixins';

.page {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 95px;
}

.button {
    padding: 0 25px !important;
}

.button__icon {
    width: 32px;
    margin-right: 15px;
}

.button__icon--small {
    width: 24px !important;
}
