<div
    class="page"
    fxFlex="90"
    fxFlex.xs="96"
    fxFlex.lg="70"
    fxFlex.xl="60"
    fxLayout="column"
    fxLayoutGap="37px"
>
    <app-header></app-header>
    <app-token-carousel></app-token-carousel>
    <app-channel-list></app-channel-list>
    <div fxLayout="row" fxLayoutGap="61px">
        <app-contact-list fxFlex="1 1 341px"></app-contact-list>
        <app-history-table fxFlex="1 1 auto"></app-history-table>
    </div>
    <a
        mat-flat-button
        color="primary"
        class="button"
        fxLayout="row"
        fxLayoutAlign="start center"
        routerLink="/about"
    >
        <mat-icon class="button__icon" svgIcon="info" aria-hidden="true">
        </mat-icon>
        <span> About </span>
    </a>
</div>
