<app-page-base
    (pageChanged)="onPageEvent($event)"
    [pageSize]="pageSize"
    [refreshing]="refreshing"
    [totalElements]="totalTokens"
    noItemsMessage="No tokens found!"
>
    <app-page-header
        pageHeader
        (added)="showRegisterDialog()"
        (cleared)="clearFilter()"
        (filtered)="this.filter = $event; applyKeywordFilter()"
        (ordered)="changeOrder()"
        (sorted)="applyFilters($event)"
        [ascending]="ascending"
        [keyword]="filter"
        [showButton]="!production"
        [sortingOptions]="sortingOptions"
        [sorting]="sorting"
        [total]="totalTokens"
        label="Tokens"
    >
    </app-page-header>

    <app-page-item
        pageItem
        *ngFor="let token of visibleTokens; trackBy: trackByFn"
    >
        <div fxLayout="column" fxFlex="0 0 8em" fxLayoutAlign="center center">
            <div class="token-network-symbol" fxFlexOffset="10" fxFlex="row">
                {{ token.symbol }}
            </div>
            <div
                class="token-network-name"
                matTooltip="{{ token.name }}"
                fxFlex="row"
            >
                {{ token.name | ellipsis: 27 }}
            </div>
        </div>
        <div
            class="can-shrink"
            fxLayout="column"
            fxFlex="1 2 100%"
            fxLayoutAlign="center"
            fxLayoutGap="2px"
        >
            <div class="item-label" fxLayout="row">Address</div>
            <div
                class="item-info"
                fxLayout="row"
                fxLayoutGap="4px"
                fxLayoutAlign="start center"
            >
                <span class="address truncate" [matTooltip]="token.address">
                    {{ token.address }}
                </span>
                <span>
                    <button
                        mat-icon-button
                        ngxClipboard
                        [cbContent]="token.address"
                    >
                        <mat-icon aria-label="Copy address to clipboard">
                            content_copy
                        </mat-icon>
                    </button>
                </span>
            </div>
            <div class="item-label" fxLayout="row">Balance</div>
            <div class="item-info" fxLayout="row">
                <span
                    *ngIf="(token.balance | decimal: token.decimals) as balance"
                    [matTooltip]="
                        (balance | displayDecimals) === balance ? '' : balance
                    "
                >
                    {{ balance | displayDecimals }}
                </span>
            </div>
        </div>
        <app-token-network-actions
            class="actions"
            id="{{ token.address }}-actions"
            [connection]="token.connected"
            [chainId]="(network$ | async).chainId"
            (openConnectionManagerDialog)="
                showConnectionManagerDialog(token, $event)
            "
            (openLeaveNetworkDialog)="showLeaveDialog(token)"
            (openPaymentDialog)="showPaymentDialog(token)"
            (requestTokens)="mintToken(token, $event)"
        ></app-token-network-actions>
    </app-page-item>
</app-page-base>
