<div
    [formGroup]="form"
    class="form"
    fxLayout="row"
    fxLayout.xs="column"
    fxLayoutGap.xs="20px"
>
    <mat-form-field
        fxFlex="1 1 auto"
        fxLayout="column"
        fxLayout.xs="row"
        ngClass.xs="full-width-form-field"
    >
        <input
            matInput
            min="0"
            type="number"
            placeholder="Payment identifier"
            aria-label="Payment identifier"
            formControlName="payment_identifier"
        />
        <mat-error *ngIf="form.invalid && (form.touched || form.dirty)">
            <span *ngIf="identifierControl.errors['invalidNumber']">
                The payment identifier should be a positive number
            </span>
            <span *ngIf="identifierControl.errors['notANumber']">
                The payment identifier is not a number
            </span>
        </mat-error>
    </mat-form-field>

    <mat-checkbox
        class="checkbox"
        fxFlex="0 0 6.5em"
        fxFlex.xs="0 0 auto"
        fxFlexAlign="center"
        fxFlexAlign.xs="start"
        fxLayout="column"
        fxLayout.xs="row"
        (change)="onCheckChange($event)"
        matTooltip="The payment identifier can be changed for tagging payments"
        matTooltipPosition="above"
        formControlName="edit_box"
    >
        Edit
    </mat-checkbox>
</div>
