@import '../../../sass/fonts';
@import '../../../sass/colors';

.input {
    z-index: 1;
    position: relative;
    height: 40px;

    &__field {
        border-radius: 100px;
        background-color: $bg-grey;
        border: none;
        box-shadow: none;
        font-family: $main-font;
        padding: 0 16px;
        height: 100%;
        font-size: 14px;
        line-height: 16px;
        font-weight: 500;
        color: $grey;
    }

    &__button {
        height: 100%;
        margin: 0 auto;
    }

    &__icon {
        height: 24px !important;
        line-height: 24px;
        color: $action-blue;
    }
}

.info-box {
    height: 32px;
    font-size: 12px;
    line-height: 15px;

    &__text {
        overflow: hidden;
        text-overflow: ellipsis;
        margin-left: 16px;
        color: $red;
    }
}

.expansion {
    height: 15px;

    &__text {
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        color: $dark-grey;
        vertical-align: top;
        cursor: pointer;

        &:hover {
            color: $grey;
        }
    }
}
