<mat-expansion-panel
    class="full-width-expansion-panel mat-elevation-z0 dialog-expansion-panel"
    (closed)="onClose()"
>
    <mat-expansion-panel-header
        matTooltip="The payment identifier can be set for tagging payments"
        matTooltipPosition="above"
        aria-label="Set payment identifier"
    >
        <mat-panel-description>
            Set payment identifier
        </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-form-field
        fxFlex="1 1 auto"
        fxLayout="column"
        fxLayout.xs="row"
        fxLayoutGap="0px"
        ngClass.xs="full-width-form-field"
    >
        <input
            matInput
            min="0"
            type="number"
            placeholder="Payment identifier"
            aria-label="Payment identifier"
            [formControl]="identifierFc"
        />
        <mat-error
            *ngIf="
                identifierFc.invalid &&
                (identifierFc.touched || identifierFc.dirty)
            "
        >
            <span *ngIf="identifierFc.errors['invalidNumber']">
                The payment identifier should be a positive number
            </span>
            <span *ngIf="identifierFc.errors['notANumber']">
                The payment identifier is not a number
            </span>
        </mat-error>
    </mat-form-field>
</mat-expansion-panel>
