.label-input {
    z-index: 1;
    position: relative;
    height: 32px;
}

.label-input__field {
    border-radius: 25px;
    background-color: #e7e7e7;
    border: none;
    box-shadow: none;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    padding: 0 18px;
    height: 100%;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.35px;
    color: #000000;
    width: 100%;
}
