@import '../../../sass/fonts';
@import '../../../sass/colors';

.label-input {
    z-index: 1;
    position: relative;
    height: 40px;

    &__field {
        border-radius: 100px;
        background-color: $bg-grey;
        border: none;
        box-shadow: none;
        font-family: $main-font;
        padding: 0 16px;
        height: 100%;
        font-size: 14px;
        line-height: 16px;
        font-weight: 500;
        color: $grey;
        width: 100%;
    }
}
