<app-raiden-dialog
    titleText="Quick Connect"
    [acceptText]="funds.isZero() ? 'Connect' : 'Add'"
    [acceptDisabled]="form.invalid"
    [formGroup]="form"
    (accept)="accept()"
    (cancel)="cancel()"
>
    <div *ngIf="!funds.isZero()" class="allocated-funds">
        Allocated funds:
        <span
            *ngIf="(funds | decimal: token.decimals) as allocatedFunds"
            [matTooltip]="
                (allocatedFunds | displayDecimals: 3) === allocatedFunds
                    ? ''
                    : allocatedFunds
            "
        >
            {{ allocatedFunds | displayDecimals: 3 }} {{ token.symbol }}
        </span>
    </div>
    <app-token-input
        [placeholder]="funds.isZero() ? 'Funds' : 'Add funds'"
        infoText="Quick connect automatically opens channels with 3 random online nodes and splits the allocated funds among them. You can add more funds later."
        formControlName="amount"
    >
    </app-token-input>
</app-raiden-dialog>
