<h1 mat-dialog-title>
    {{ data.join ? 'Join Token Network' : 'Add Funds' }}
</h1>
<div mat-dialog-content [formGroup]="form">
    <app-token-input
        [placeholder]="'Enter Funds to be allocated'"
        [errorPlaceholder]="'funds'"
        matTooltip="The allocated funds will be used by the connection manager, to automatically open channels for you."
        formControlName="amount"
    >
    </app-token-input>
</div>
<div mat-dialog-actions>
    <button mat-button mat-dialog-close>Close</button>
    <button mat-button (click)="allocateFunds()" [disabled]="form.invalid">
        {{ data.join ? 'Join' : 'Add' }}
    </button>
</div>
