@import '../../../sass/fonts';
@import '../../../sass/colors';

.input {
    z-index: 1;
    position: relative;

    &__field {
        border-radius: 25px;
        background-color: $light-grey;
        border: none;
        box-shadow: none;
        font-family: $main-font;
        padding: 0 18px;
        height: 32px;
        font-size: 13px;
        line-height: 15px;
        letter-spacing: 0.35px;
        color: $black;
    }

    &__symbol {
        margin: 0 auto;
        font-size: 13px;
        line-height: 15px;
        letter-spacing: 0.35px;
    }
}

.info-box {
    height: 32px;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.35px;

    &__text {
        overflow: hidden;
        text-overflow: ellipsis;
        margin-left: 18px;

        &--error {
            color: $red;
        }
    }

    &__max-button {
        color: $action-blue;
        cursor: pointer;

        &:hover {
            color: $action-light-blue;
        }
    }
}

.info-link {
    color: $action-blue;
    text-decoration: none;

    &:hover {
        color: $action-light-blue;
    }
}
