@import '../../../sass/fonts';
@import '../../../sass/colors';

.amount {
    z-index: 1;
    position: relative;

    &__help {
        color: $action-blue;
    }
}

.input {
    position: relative;
    border-radius: 25px;
    background-color: $light-grey;
    height: 32px;
    color: $black;

    &__field {
        width: 100%;
        min-width: 0;
        padding: 0 52px 0 18px;
        background: none;
        border: none;
        box-shadow: none;
        font-family: $main-font;
        font-size: 13px;
        line-height: 15px;
        letter-spacing: 0.35px;
    }

    &__symbol {
        position: absolute;
        right: 0;
        margin-right: 10px;
        font-size: 13px;
        line-height: 15px;
        letter-spacing: 0.35px;
        max-width: 40px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

.info-box {
    height: 32px;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.35px;

    &__text {
        overflow: hidden;
        text-overflow: ellipsis;
        margin-left: 18px;

        &--error {
            color: $red;
        }
    }

    &__max-button {
        color: $action-blue;
        cursor: pointer;

        &:hover {
            color: $action-light-blue;
        }
    }
}

.info-link {
    color: $action-blue;
    text-decoration: none;

    &:hover {
        color: $action-light-blue;
    }
}
