<div class="input" fxLayout="row" fxLayoutAlign="start center">
    <input
        [placeholder]="placeholder"
        aria-label="Amount input"
        class="input__field"
        type="text"
        (input)="onChange()"
        (focus)="onTouched()"
        fxFlex="0 1 226px"
        #input
    />

    <div class="input__symbol">
        {{ token?.symbol }}
    </div>

    <mat-icon
        *ngIf="infoText"
        class="input__info"
        svgIcon="info"
        aria-label="Info text"
        [matTooltip]="infoText"
    >
    </mat-icon>
</div>

<div class="error" fxLayout="column" fxLayoutAlign="center">
    <span
        *ngIf="errors && touched && input.value.length > 0"
        [@fallDown]="'in'"
        id="errors"
    >
        <span *ngIf="errors['zeroAmount']">
            The amount should be greater than 0
        </span>
        <span *ngIf="errors['tooManyDecimals'] && token">
            The selected token network only supports up to
            {{ decimals }} decimals
        </span>
        <span *ngIf="errors['notANumber']">
            The amount should be a valid number
        </span>
    </span>
</div>
