@import '../../../sass/fonts';
@import '../../../sass/colors';

.amount {
    z-index: 1;
    position: relative;

    &__max-button {
        font-size: 12px;
        line-height: 15px;
        color: $action-blue;
        cursor: pointer;

        &:hover {
            color: $action-light-blue;
        }
    }
}

.input {
    position: relative;
    border-radius: 100px;
    background-color: $bg-grey;
    height: 40px;

    &--disabled {
        color: $dark-grey;
        background: none;
        border: 1px solid $dark-grey;
    }

    &__field {
        width: 100%;
        min-width: 0;
        padding: 0 52px 0 16px;
        background: none;
        border: none;
        box-shadow: none;
        font-family: $main-font;
        font-size: 14px;
        line-height: 16px;
        font-weight: 500;
        color: $grey;
    }

    &__symbol {
        position: absolute;
        right: 0;
        margin-right: 10px;
        font-size: 14px;
        line-height: 16px;
        font-weight: 500;
        max-width: 40px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

.info-box {
    height: 32px;
    font-size: 12px;
    line-height: 15px;

    &__text {
        overflow: hidden;
        text-overflow: ellipsis;
        margin-left: 16px;

        &--error {
            color: $red;
        }
    }
}

.info-link {
    color: $action-blue;
    text-decoration: none;

    &:hover {
        color: $action-light-blue;
    }
}
