.search {
    color: rgba(255, 255, 255, 0.5);
    border-radius: 50px;
    background-color: #121212;
    position: relative;
    height: 100%;
}

.search__icon {
    position: absolute;
    left: 0;
    margin-left: 16px;
    height: 14px;
    line-height: 14px;
}

.reset-button {
    position: absolute;
    right: 0;
    margin-right: 7px;
}

.reset-button__icon {
    height: 14px !important;
    width: 14px !important;
    line-height: 14px !important;
    font-size: 14px !important;
}

.search__input {
    width: 100%;
    min-width: 0;
    height: 100%;
    padding: 0 38px;
    background: none;
    border: none;
    box-shadow: none;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    font-size: 13px;
    line-height: 15px;
    color: #000000;
}

.search__input::placeholder,
.search__input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.search:focus-within,
.search--focused {
    color: #000000;
    background-color: #e7e7e7;
}

.search:focus-within .search__input::placeholder,
.search:focus-within .search__input::-webkit-input-placeholder,
.search--focused .search__input::placeholder,
.search--focused .search__input::-webkit-input-placeholder {
    color: #000000;
}

.options {
    height: 100%;
    overflow-y: auto;
    overflow-wrap: break-word;
}
