<div
    class="search"
    [ngClass]="search_input.value ? 'search--focused' : ''"
    fxLayout="row"
    fxLayoutAlign="center center"
>
    <mat-icon
        class="search__icon"
        svgIcon="search"
        aria-hidden="true"
    ></mat-icon>
    <input
        class="search__input"
        aria-label="Search field"
        type="text"
        placeholder="Search"
        (input)="onInput($event.target.value)"
        [matAutocomplete]="auto"
        spellcheck="false"
        #search_input
    />
    <button
        mat-icon-button
        class="reset-button"
        *ngIf="search_input.value"
        (click)="resetSearch()"
        id="reset"
    >
        <mat-icon
            svgIcon="close"
            aria-label="Reset search field"
            class="reset-button__icon"
        ></mat-icon>
    </button>
    <mat-autocomplete
        #auto="matAutocomplete"
        (optionSelected)="onInput($event.option.value)"
        autoActiveFirstOption
        [panelWidth]="isMobile() ? '200px' : '300px'"
    >
        <div class="options">
            <mat-option
                *ngFor="
                    let userToken of filteredTokenOptions$ | async;
                    trackBy: tokenTrackByFn
                "
                [value]="userToken.address"
                class="token-option"
            >
                <span>{{ userToken.symbol }}</span>
                <span>{{ userToken.name }}</span>
                <span>{{ userToken.address }}</span>
            </mat-option>
            <mat-option
                *ngFor="
                    let contact of filteredContactOptions$ | async;
                    trackBy: contactTrackByFn
                "
                [value]="contact.address"
                class="contact-option"
            >
                <span>{{ contact.label }}</span>
                <span>{{ contact.address }}</span>
            </mat-option>
        </div>
    </mat-autocomplete>
</div>
