<div class="actions" fxLayout="row" fxLayoutAlign="space-between">
    <button
        class="actions__button"
        mat-flat-button
        color="accent"
        (click)="pay()"
        appStopClickPropagation
        [disabled]="!isConnected()"
        [matTooltip]="
            !isConnected()
                ? 'You need open ' +
                  getTokenSymbol() +
                  ' channels to send a transfer'
                : ''
        "
        id="transfer"
    >
        Transfer
    </button>
    <button
        class="actions__button"
        mat-flat-button
        color="accent"
        (click)="edit()"
        appStopClickPropagation
        id="edit"
    >
        Edit
    </button>
    <button
        class="actions__button"
        mat-flat-button
        color="accent"
        (click)="delete()"
        appStopClickPropagation
        id="delete"
    >
        Delete
    </button>
</div>
