<div
    class="actions"
    fxLayout="row"
    fxLayoutAlign="space-between"
    stopClickPropagation
>
    <button
        class="actions__button"
        mat-flat-button
        color="accent"
        (click)="pay()"
    >
        Transfer
    </button>
    <button
        class="actions__button"
        mat-flat-button
        color="accent"
        (click)="deposit()"
    >
        Edit
    </button>
    <button
        class="actions__button"
        mat-flat-button
        color="accent"
        (click)="delete()"
    >
        Delete
    </button>
</div>
