<div class="actions" fxLayout="row" fxLayoutAlign="space-between">
    <button
        class="actions__button"
        mat-flat-button
        color="accent"
        (click)="pay()"
        stopClickPropagation
    >
        Transfer
    </button>
    <button
        class="actions__button"
        mat-flat-button
        color="accent"
        (click)="edit()"
        stopClickPropagation
    >
        Edit
    </button>
    <button
        class="actions__button"
        mat-flat-button
        color="accent"
        (click)="delete()"
        stopClickPropagation
    >
        Delete
    </button>
</div>
