@import '../../../sass/colors';

:host {
    width: 100%;
}

.entry {
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $white;
    opacity: 0.5;
    text-decoration: none;
    font-size: 12px !important;
    line-height: 14px !important;
    padding: 11px 22px !important;
    border-radius: 15px !important;
    font-weight: 400 !important;
    background: none;

    &__icon {
        width: 24px;
        margin-right: 14px;
    }
}

.active {
    opacity: 1;
    font-weight: 500;
    background-color: $bg-dark-grey;
}
