:host {
    width: 100%;
}

.entry {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
    line-height: 14px;
    color: #ffffff;
    opacity: 0.5;
    text-decoration: none;
}

.active {
    opacity: 1;
    font-weight: 500;
}

.entry__icon {
    width: auto;
    height: 24px;
}
