.mat-list-item {
    min-height: 72px;
}

.mat-list-item-content {
    height: 100% !important;
}

.navigation-entry {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.navigation-icon {
    display: block;
    max-height: 25px;
    max-width: 25px;
    height: auto;
    width: auto;
}
