<mat-toolbar color="primary" class="toolbar">
    <button
        *ngIf="isMobile()"
        type="button"
        aria-label="Toggle navigation menu"
        mat-icon-button
        (click)="toggleMenu()"
    >
        <mat-icon aria-label="Toggle navigation menu icon">menu</mat-icon>
    </button>
    <span fxLayoutAlign="center center" fxFlex="70px" fxFlex.xs="30px">
        <img
            src="assets/favicon.png"
            class="inverted"
            ngClass.xs="favicon-mobile"
            ngClass.gt-xs="favicon"
        />
    </span>
    <span fxShow fxHide.xs>
        <a class="rn" target="_blank" href="http://raiden.network/">
            Raiden Network
        </a>
    </span>
    <span class="toolbar-spacer"></span>
    <span class="truncate account">
        {{ raidenAddress }}
    </span>
    <span>
        <button mat-icon-button ngxClipboard [cbContent]="raidenAddress">
            <mat-icon aria-label="Copy address to clipboard">
                content_copy
            </mat-icon>
        </button>
    </span>
    <span style="width: 36px; margin-right: 25px">
        <img class="round identicon" [src]="identicon(raidenAddress)" />
    </span>
    <span
        [matBadge]="pendingRequests"
        style="margin-right: 10px"
        matBadgeOverlap="false"
        matBadgeColor="primary"
        matBadgePosition="after"
    ></span>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
    <mat-sidenav
        [mode]="isMobile() ? 'over' : 'side'"
        [opened]="menuOpen"
        class="dark-theme"
        role="navigation"
    >
        <mat-nav-list>
            <a
                (click)="closeMenu()"
                fxLayoutAlign="center center"
                mat-list-item
                routerLink="/home"
                routerLinkActive="active"
            >
                <div
                    fxLayout="column"
                    fxLayoutAlign="center center"
                    fxFlexOffset="0.2em"
                >
                    <mat-icon class="navigation-icon" fxLayout="row">
                        home
                    </mat-icon>
                    <div class="mat-small" fxLayout="row">Home</div>
                </div>
            </a>
            <a
                (click)="closeMenu()"
                fxLayoutAlign="center center"
                mat-list-item
                routerLink="/tokens"
                routerLinkActive="active"
            >
                <div
                    fxLayout="column"
                    fxLayoutAlign="center center"
                    fxFlexOffset="0.2em"
                >
                    <mat-icon class="navigation-icon" fxLayout="row">
                        toll
                    </mat-icon>
                    <div class="mat-small" fxLayout="row">Tokens</div>
                </div>
            </a>
            <a
                (click)="closeMenu()"
                fxLayoutAlign="center center"
                mat-list-item
                routerLink="/channels"
                routerLinkActive="active"
            >
                <div
                    fxLayout="column"
                    fxLayoutAlign="center center"
                    fxFlexOffset="0.2em"
                >
                    <mat-icon class="navigation-icon" fxLayout="row">
                        compare_arrows
                    </mat-icon>
                    <div class="mat-small" fxLayout="row">Channels</div>
                </div>
            </a>
            <a
                (click)="closeMenu()"
                fxLayoutAlign="center center"
                mat-list-item
                routerLink="/address-book"
                routerLinkActive="active"
            >
                <div
                    fxLayout="column"
                    fxLayoutAlign="center center"
                    fxFlexOffset="0.2em"
                >
                    <mat-icon class="navigation-icon" fxLayout="row">
                        contacts
                    </mat-icon>
                    <div class="mat-small" fxLayout="row">Address Book</div>
                </div>
            </a>
            <a
                (click)="closeMenu()"
                fxLayoutAlign="center center"
                mat-list-item
                routerLink="/license"
                routerLinkActive="active"
            >
                <div
                    fxLayout="column"
                    fxLayoutAlign="center center"
                    fxFlexOffset="0.2em"
                >
                    <mat-icon class="navigation-icon" fxLayout="row">
                        info
                    </mat-icon>
                    <div class="mat-small" fxLayout="row">About</div>
                </div>
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="container-content">
        <router-outlet *ngIf="!hasRpcError(); else rpc_error"></router-outlet>
        <ng-template #rpc_error>
            <app-error
                errorTitle="JSON RPC connection error!"
                errorDescription="A connection with the Web3 provider could not be established. \n
                    Please try again."
                buttonText="Retry"
                [errorStacktrace]="sharedService.getStackTrace()"
                (buttonClicked)="attemptConnection($event)"
            ></app-error>
        </ng-template>
    </mat-sidenav-content>
</mat-sidenav-container>

<mat-toolbar fxHide fxShow.xs></mat-toolbar>
