.mat-sidenav-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.mat-sidenav-content {
    padding-top: 22px;
}

.page {
    margin-left: auto;
    margin-right: auto;
}

.content {
    height: 100%;
    padding-bottom: 35px;
}

.menu {
    width: 91px;
    background-color: rgba(255, 255, 255, 0.05);
    border: none;
}

.menu-inner {
    height: 100%;
    padding-top: 25px;
    padding-bottom: 80px;
}

.menu__logo {
    height: 39px;
}

.menu__logo-mobile {
    height: 25px;
}

.notification-sidenav {
    width: 582px;
    background-color: #121212;
}

.notification-sidenav-mobile {
    width: 100%;
    background-color: #121212;
}

.network-info {
    width: 500px;
    height: 42px;
    border-radius: 25px;
    background-color: #ffffff;
    color: #000000;
    font-size: 16px;
    line-height: 32px;
    position: fixed;
    left: 50%;
    margin-left: -250px;
    z-index: 100;
}

.network-info__close {
    position: absolute;
    right: 0;
    margin-right: 20px;
}
