.wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #121212;
}

.mat-sidenav-container {
    width: 1272px;
    height: 818px;
    border-radius: 25px;
}

.mat-sidenav-content {
    padding-right: 82px;
}

.page {
    width: 100%;
    margin-top: 47px;
}

.content {
    height: 100%;
    margin-bottom: 47px;
    overflow-y: scroll;
    position: relative;
}

.menu {
    width: 272px;
    background-color: #000000;
    border: none;
}

.menu-inner {
    height: 100%;
    padding: 77px 60px 68px 60px;
}

.menu__logo {
    height: 48px;
}

.menu__logo-mobile {
    height: 24px;
}

.menu__title {
    font-family: Roboto Mono;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.notification-sidenav {
    width: 582px;
    background-color: #000000;
}

.notification-sidenav-mobile {
    width: 100%;
    background-color: #000000;
}

.network-info {
    width: 480px;
    height: 42px;
    border-radius: 15px;
    background-color: #ffffff;
    color: #000000;
    font-size: 16px;
    line-height: 32px;
    position: fixed;
    left: 50%;
    margin-left: -250px;
    z-index: 100;
}

.network-info__close {
    position: absolute;
    right: 0;
    margin-right: 20px;
}

.network-info__close-icon {
    width: 16px !important;
    height: 16px !important;
}

.shutdown {
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #ffffff;
    opacity: 0.5;
    font-size: 12px !important;
    line-height: 14px !important;
    padding: 11px 22px !important;
    border-radius: 15px !important;
    font-weight: 400 !important;
    background: none;
}

.shutdown__icon {
    width: 24px;
    margin-right: 14px;
}
