@import '../sass/mixins';
.rn {
    color: white !important;
}

a.active {
    color: #1f86e8 !important;
}

.toolbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.mat-toolbar.mat-primary {
    background-color: black !important;
}

$sidenav-top: 56px;
.sidenav-container {
    position: absolute;
    top: $sidenav-top;
    left: 0;
    right: 0;
    bottom: 0;
}

mat-sidenav-content {
    height: 100%;
    padding-top: 20px;
    @include respond-to(handhelds) {
        padding-top: 6px;
    }
}

.toolbar-spacer {
    flex: 1 1 auto;
}

.account {
    font-size: medium;
}

.favicon-mobile {
    height: 25px;
}

.favicon {
    height: 40px;
}
