@import '../sass/mixins';
.rn {
    color: white !important;
}

a.active {
    color: #1f86e8 !important;
}

.toolbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.mat-toolbar.mat-primary {
    background-color: black !important;
}

$sidenav-top: 64px;
.sidenav-container {
    position: absolute;
    top: $sidenav-top;
    left: 0;
    right: 0;
    bottom: 0;
}

mat-sidenav-content {
    height: 100%;
    padding-top: 20px;
    @include respond-to(handhelds) {
        padding-top: 6px;
    }
}

.toolbar-spacer {
    flex: 1 1 auto;
}

.favicon-mobile {
    height: 25px !important;
}

.favicon {
    height: 40px;
}

.account-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding-left: 8px;
    padding-right: 8px;

    .balance {
        line-height: 20px;
        font-weight: 300;
        font-size: 14px;
    }

    .account {
        font-size: 16px;
        line-height: 22px;
    }
}

.info-container {
    display: flex;
    flex-direction: column;

    @include respond-to('medium-screens') {
        margin-left: 25px;
    }

    @include respond-to('wide-screens') {
        margin-left: 25px;
    }

    .network-info {
        font-size: 14px;
        line-height: 16px;
        font-weight: 400;

        .environment {
            font-weight: 400;
            color: rgba(255, 255, 255, 0.76);
        }
    }
}

#faucet-button {
    padding: 0;
    line-height: 100%;
    height: 100%;
}
