<mat-sidenav-container>
    <mat-sidenav
        [mode]="isMobile() ? 'over' : 'side'"
        [disableClose]="isMobile() ? false : true"
        [opened]="isMobile() ? false : true"
        class="menu"
        role="navigation"
        #menu_sidenav
    >
        <mat-nav-list>
            <app-navigation-entry
                (clicked)="closeMenu()"
                icon="home"
                text="Home"
                route="/home"
            ></app-navigation-entry>
            <app-navigation-entry
                (clicked)="closeMenu()"
                icon="toll"
                text="Tokens"
                route="/tokens"
            ></app-navigation-entry>
            <app-navigation-entry
                (clicked)="closeMenu()"
                icon="compare_arrows"
                text="Channels"
                route="/channels"
            ></app-navigation-entry>
            <app-navigation-entry
                (clicked)="closeMenu()"
                icon="contacts"
                text="Address Book"
                route="/address-book"
            ></app-navigation-entry>
            <app-navigation-entry
                (clicked)="closeMenu()"
                icon="info"
                text="About"
                route="/about"
            ></app-navigation-entry>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <div class="toolbar">
            <div class="header header--info">
                <div
                    *ngIf="showNetworkInfo"
                    class="network-info"
                    fxLayout="row"
                    fxLayoutAlign="center center"
                    [@easeInOut]="'in'"
                >
                    <span>
                        You are running Raiden on
                        {{ (network$ | async)?.name }} testnet
                    </span>
                    <button
                        mat-icon-button
                        class="network-info__close"
                        (click)="hideNetworkInfo()"
                    >
                        <mat-icon aria-label="Close network info"
                            >close</mat-icon
                        >
                    </button>
                </div>
            </div>

            <div
                class="header"
                fxLayout="row"
                fxLayoutGap="35px"
                fxLayoutAlign="start start"
            >
                <a
                    class="header__link"
                    target="_blank"
                    href="http://raiden.network/"
                >
                    <img
                        alt="Raiden logo"
                        src="assets/logo.svg"
                        ngClass.xs="header__logo-mobile"
                        ngClass="header__logo"
                    />
                </a>
                <div fxLayout="column" *ngIf="(balance$ | async) as balance">
                    <span
                        class="header__number"
                        [matTooltip]="
                            (balance | displayDecimals: 3) === balance
                                ? ''
                                : balance
                        "
                        >{{ balance | displayDecimals: 3 }}
                        {{ (network$ | async)?.shortName }}
                    </span>
                    <span class="header__label">
                        On-chain balance
                    </span>
                </div>
                <button
                    mat-flat-button
                    *ngIf="(balance$ | async)"
                    color="accent"
                    class="header__account-button"
                    (click)="showAddress = !showAddress"
                >
                    <span *ngIf="!showAddress; else close">
                        Top up
                    </span>
                    <ng-template #close>
                        Close
                    </ng-template>
                </button>
                <div fxLayout="column">
                    <span class="header__number">
                        {{ totalChannels }}
                    </span>
                    <span class="header__label">
                        Open channels
                    </span>
                </div>
                <div fxLayout="column">
                    <span class="header__number">
                        {{ joinedNetworks }}
                    </span>
                    <span class="header__label">
                        Joined networks
                    </span>
                </div>
                <span fxFlex="1 1 auto"></span>
                <div
                    class="search"
                    fxFlexAlign="end"
                    fxLayout="row"
                    fxLayoutAlign="center center"
                >
                    <mat-icon
                        class="search__icon"
                        svgIcon="search"
                        aria-hidden="true"
                    ></mat-icon>
                    <input
                        class="search__input"
                        aria-label="Search field"
                        type="text"
                        placeholder="Search"
                    />
                </div>
                <button
                    mat-icon-button
                    matTooltip="Open notification panel"
                    fxFlexAlign="end"
                    (click)="notification_sidenav.toggle()"
                >
                    <mat-icon
                        class="header__icon"
                        svgIcon="notification"
                        aria-label="Open notification panel"
                    >
                    </mat-icon>
                </button>
            </div>

            <div
                class="header header--secondary"
                fxLayout="column"
                fxLayoutAlign="end"
            >
                <span
                    *ngIf="showAddress"
                    fxLayout="row"
                    fxLayoutAlign="start center"
                    fxLayoutGap="6px"
                >
                    <span class="header__label" fxFlexOffset="67px">
                        Your address
                    </span>
                    <span class="header__address" fxFlexOffset="10px">{{
                        raidenAddress
                    }}</span>
                    <button
                        mat-icon-button
                        ngxClipboard
                        [cbContent]="raidenAddress"
                        matTooltip="Copy address to clipboard"
                    >
                        <mat-icon
                            class="header__icon"
                            svgIcon="copy"
                            aria-label="Copy address to clipboard"
                        >
                        </mat-icon>
                    </button>
                    <button
                        mat-icon-button
                        matTooltip="Show QR code to scan your address"
                    >
                        <mat-icon
                            class="header__icon"
                            svgIcon="qr"
                            aria-label="Show QR code to scan your address"
                        >
                        </mat-icon>
                    </button>
                    <a
                        *ngIf="(network$ | async)?.faucet"
                        [href]="faucetLink$ | async"
                        target="_blank"
                        mat-icon-button
                        class="header__faucet"
                        matTooltip="Open ether faucet"
                    >
                        <mat-icon
                            class="header__icon"
                            svgIcon="faucet"
                            aria-label="Open ether faucet"
                        >
                        </mat-icon>
                    </a>
                </span>
            </div>
        </div>
        <div class="content">
            <router-outlet *ngIf="!hasError(); else api_error"></router-outlet>
            <ng-template #api_error>
                <app-error
                    *ngIf="hasApiError(); else rpc_error"
                    errorTitle="Raiden API connection error!"
                    errorDescription="A connection with the Raiden API could not be established. \n
                        Please try again."
                    buttonText="Retry"
                    [errorContent]="getApiErrorMessage()"
                    (buttonClicked)="attemptApiConnection()"
                ></app-error>
            </ng-template>
            <ng-template #rpc_error>
                <app-error
                    errorTitle="JSON RPC connection error!"
                    errorDescription="A connection with the Web3 provider could not be established. \n
                        Please try again."
                    buttonText="Retry"
                    [errorContent]="getRpcErrorTrace()"
                    (buttonClicked)="attemptRpcConnection()"
                ></app-error>
            </ng-template>
        </div>
    </mat-sidenav-content>

    <mat-sidenav
        mode="over"
        position="end"
        [autoFocus]="false"
        ngClass.xs="notification-sidenav-mobile"
        ngClass="notification-sidenav"
        #notification_sidenav
    >
        <app-notification-panel
            (close)="notification_sidenav.close()"
        ></app-notification-panel>
    </mat-sidenav>
</mat-sidenav-container>
