@import '../sass/mixins';

.mat-sidenav-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.menu {
    background-color: #191919;
}

.content {
    height: 100%;
}

mat-sidenav-content {
    height: 100%;
    padding-top: 16px;
    @include respond-to(handhelds) {
        padding-top: 6px;
    }
}

.notification-sidenav {
    width: 600px;
    background-color: rgba(250, 250, 250, 1);
}

.notification-sidenav-mobile {
    width: 100%;
    background-color: rgba(250, 250, 250, 1);
}
