.mat-sidenav-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.content {
    height: calc(100% - 83px);
}

mat-sidenav-content {
    height: 100%;
    padding-top: 16px;
}

.notification-sidenav {
    width: 600px;
    background-color: rgba(250, 250, 250, 1);
}

.notification-sidenav-mobile {
    width: 100%;
    background-color: rgba(250, 250, 250, 1);
}

.info-container {
    height: 53px;
    padding: 0;
    margin-bottom: 30px;
}

.network-info {
    width: 500px;
    height: 100%;
    border-radius: 25px;
    background-color: #ffffff;
    color: #000000;
    font-size: 16px;
    line-height: 32px;
    position: relative;
}

.network-info__close {
    position: absolute;
    right: 0;
    margin-right: 20px;
}
