<div class="wrapper" fxLayout="column" fxLayoutAlign="center center">
    <mat-sidenav-container class="container" ngClass.lt-lg="container--mobile">
        <mat-sidenav
            class="menu"
            ngClass.xs="menu--mobile"
            [mode]="isMobile() ? 'over' : 'side'"
            [disableClose]="isMobile() ? false : true"
            [opened]="isMobile() ? false : true"
            role="navigation"
            #menu_sidenav
        >
            <div
                class="menu-inner"
                fxLayout="column"
                fxLayoutAlign="start center"
                fxLayoutGap="28px"
            >
                <a target="_blank" href="http://raiden.network/">
                    <img
                        alt="Raiden logo"
                        src="assets/logo.svg"
                        class="menu__logo"
                    />
                </a>
                <app-navigation-entry
                    fxFlexOffset.gt-md="57px"
                    (click)="closeMenu()"
                    icon="home"
                    text="Home"
                    route="/home"
                ></app-navigation-entry>
                <app-navigation-entry
                    (click)="closeMenu()"
                    icon="channel"
                    text="Channels"
                    route="/channels"
                ></app-navigation-entry>
                <app-navigation-entry
                    (click)="closeMenu()"
                    icon="contacts"
                    text="Contacts"
                    route="/contacts"
                ></app-navigation-entry>
                <app-navigation-entry
                    (click)="closeMenu()"
                    icon="transfers"
                    text="Transfers"
                    route="/transfers"
                ></app-navigation-entry>
                <app-navigation-entry
                    (click)="closeMenu()"
                    icon="info"
                    text="About"
                    route="/about"
                ></app-navigation-entry>
                <div fxHide.xs="true" fxFlex="1 1 auto"></div>
                <button
                    mat-flat-button
                    (click)="shutdownRaiden()"
                    class="shutdown"
                    fxLayout="row"
                    fxLayoutAlign="start center"
                >
                    <mat-icon
                        class="shutdown__icon"
                        svgIcon="shutdown"
                    ></mat-icon>
                    <span>Shut down</span>
                </button>
            </div>
        </mat-sidenav>

        <mat-sidenav-content
            class="sidenav-content"
            ngClass.lt-lg="sidenav-content--mobile"
            fxLayout="center start"
        >
            <div
                class="toast-container"
                ngClass.lt-lg="toast-container--mobile"
                toastContainer
            ></div>
            <div class="page" fxLayout="column" fxLayoutGap="32px">
                <div
                    *ngIf="showNetworkInfo"
                    class="network-info"
                    fxLayout="row"
                    fxLayoutAlign="center center"
                    [@easeInOut]="'in'"
                >
                    <span>
                        You are running Raiden on
                        {{ (network$ | async)?.name }} testnet
                    </span>
                    <button
                        mat-icon-button
                        class="network-info__close"
                        (click)="hideNetworkInfo()"
                    >
                        <mat-icon
                            aria-label="Close network info"
                            svgIcon="close"
                            class="network-info__close-icon"
                        ></mat-icon>
                    </button>
                </div>
                <app-header
                    (toggleNotifications)="notification_sidenav.toggle()"
                    (toggleMenu)="menu_sidenav.toggle()"
                ></app-header>
                <div class="content" ngClass.lt-lg="content--mobile">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </mat-sidenav-content>

        <mat-sidenav
            mode="over"
            position="end"
            [autoFocus]="false"
            class="notification-sidenav"
            ngClass.xs="notification-sidenav--mobile"
            #notification_sidenav
        >
            <app-notification-panel
                (close)="notification_sidenav.close()"
            ></app-notification-panel>
        </mat-sidenav>
    </mat-sidenav-container>
</div>

<div
    *ngIf="apiStatus.status !== 'ready'"
    class="wrapper wrapper--black unavailable"
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="50px"
>
    <img alt="Raiden logo" src="assets/logo.svg" class="unavailable__logo" />
    <span fxFlexOffset="50px">Raiden API unavailable</span>
    <div
        *ngIf="apiStatus.status === 'syncing'"
        class="progress"
        fxLayout="column"
        fxLayoutAlign="center center"
        fxLayoutGap="30px"
    >
        <progress class="progress__bar" [value]="syncingProgress" max="1">
            {{ syncingProgress }}
        </progress>
        <span>{{ apiStatus.blocks_to_sync }} blocks to sync</span>
    </div>
</div>

<div
    *ngIf="didShutdown"
    class="wrapper wrapper--black unavailable"
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="100px"
>
    <img alt="Raiden logo" src="assets/logo.svg" class="unavailable__logo" />
    <span>Shutdown successful. You can close this window.</span>
</div>
