<h1 mat-dialog-title>
    {{ withdraw ? 'Withdraw from channel' : 'Deposit to channel' }}
</h1>
<div mat-dialog-content [formGroup]="form" (keyup.enter)="accept()">
    <app-token-input
        [placeholder]="
            withdraw ? 'Funds to withdraw' : 'Enter Funds to be allocated'
        "
        [errorPlaceholder]="withdraw ? 'withdraw' : 'deposit'"
        formControlName="amount"
    >
    </app-token-input>
</div>
<div mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button [disabled]="form.invalid" (click)="accept()">
        Confirm
    </button>
</div>
