<mat-select
    [(value)]="value"
    (selectionChange)="onChange($event.value)"
    (focus)="onTouched()"
    [placeholder]="placeholder"
    fxFlex="0 1 224px"
    [class]="selectorClass"
    [panelClass]="panelClass"
    #selector
>
    <mat-select-trigger>
        <ng-container *ngIf="triggerText; else eth_info">
            {{ triggerText }}
        </ng-container>
        <ng-template #eth_info>
            <ng-container *ngIf="value === 'ETH'; else token_info">
                ETH
            </ng-container>
        </ng-template>
        <ng-template #token_info>
            <ng-container *ngIf="!!value">
                {{ value.symbol }} {{ value.name }} {{ value.address }}
            </ng-container>
        </ng-template>
    </mat-select-trigger>
    <button
        *ngIf="showRegisterButton"
        mat-flat-button
        class="mat-option register-button"
        (click)="selector.close(); register()"
        fxLayout="row"
        type="button"
    >
        <mat-icon
            class="register-button__icon"
            svgIcon="add"
            aria-label="Add token"
        >
        </mat-icon>
        <span>Add new Network</span>
    </button>
    <mat-option *ngIf="setSelectedToken">All Networks</mat-option>
    <mat-option *ngIf="showEthOption" value="ETH">
        {{ ethBalance$ | async | displayDecimals: 3 }} ETH
    </mat-option>
    <mat-option
        *ngFor="let option of tokens$ | async; trackBy: trackByFn"
        [value]="option"
        class="token-option"
    >
        <span>
            <ng-container *ngIf="showOnChainBalance">
                {{
                    option.balance
                        | decimal: option.decimals
                        | displayDecimals: 3
                }}
            </ng-container>
            <ng-container *ngIf="showChannelBalance">
                {{
                    option.sumChannelBalances
                        | decimal: option.decimals
                        | displayDecimals: 3
                }}
            </ng-container>
            {{ option.symbol }}
        </span>
        <span>{{ option.name }}</span>
        <span>{{ option.address }}</span>
    </mat-option>
</mat-select>
