<div class="panel" ngClass.xs="panel--mobile" fxLayout="row">
    <div
        class="panel__container"
        fxFlex="0 0 100%"
        fxLayout="column"
        fxLayoutGap="40px"
    >
        <div
            *ngIf="hasNoItems()"
            fxLayout="column"
            fxLayoutAlign="center center"
            class="no-items"
            fxFlex="1 0 0"
        >
            No notifications
        </div>

        <div
            fxLayout="column"
            fxLayoutGap="20px"
            *ngIf="pendingActions.length > 0"
            class="notifications"
        >
            <div class="notifications__label">Pending actions</div>
            <div
                *ngFor="let pendingAction of pendingActions; trackBy: trackByFn"
                [@flyInOut]="'in'"
            >
                <app-notification-item
                    [notification]="pendingAction"
                    [removable]="false"
                >
                </app-notification-item>
            </div>
        </div>

        <div
            fxLayout="column"
            fxLayoutGap="20px"
            *ngIf="notifications.length > 0"
            class="notifications"
        >
            <div
                fxFlexOffset="9px"
                fxFlayout="row"
                fxLayoutAlign="start center"
                fxLayoutGap="48px"
            >
                <div class="notifications__label">Notifications</div>
                <button
                    mat-flat-button
                    color="accent"
                    (click)="clearNotifications()"
                    id="clear-notifications"
                    class="notifications__clear"
                >
                    Clear
                </button>
            </div>

            <div
                *ngFor="let notification of notifications; trackBy: trackByFn"
                [@flyInOut]="'in'"
            >
                <app-notification-item
                    [notification]="notification"
                    (remove)="removeNotification(notification.identifier)"
                >
                </app-notification-item>
            </div>
        </div>
    </div>
    <div class="close">
        <button mat-icon-button (click)="closing.emit(true)">
            <mat-icon
                class="close__icon"
                aria-label="Close notification panel icon"
                svgIcon="close"
            ></mat-icon>
        </button>
    </div>
</div>
