.notification-container {
    overflow-wrap: break-word;
    padding: 0 5px 5px 5px;
    min-height: calc(100% - 40px);
}

.notification-title {
    padding-left: 16px;
    color: rgba(0, 0, 0, 0.59);
}

.notification-title-text {
    margin: 0;
}

.notification-header {
    position: sticky;
    position: -web-kit-sticky;
    top: 0;
    right: 0;
    z-index: 1;
    width: 100%;
    background-color: rgba(250, 250, 250, 1);
}

.notification-close {
    margin-right: 21px;
    color: rgba(0, 0, 0, 0.59);
}
