.panel {
    color: #ffffff;
    margin: 16px 32px;
    font-size: 16px;
    line-height: 19px;
    min-height: calc(100% - 32px);
}

.no-items {
    height: 100%;
}

.notifications__label {
    font-size: 11px;
    letter-spacing: 0.91px;
    line-height: 32px;
    text-transform: uppercase;
    opacity: 0.47;
}

.notifications__clear {
    height: 32px;
    width: 100px;
}

.close {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    right: 0;
}

.close__icon {
    width: 16px !important;
    height: 16px !important;
}
