<div fxLayout="column" fxLayoutGap="40px" class="notification-container">
    <div
        fxLayout="column"
        fxLayoutAlign="center center"
        *ngIf="hasNoItems()"
        fxFlex
    >
        <mat-icon color="primary">info</mat-icon>
        <h1 class="mat-h1 notification-title">No notifications</h1>
    </div>

    <div fxLayout="column" fxLayoutGap="10px" *ngIf="pendingActions.length > 0">
        <h1 class="mat-h1 notification-title">Pending actions</h1>

        <div
            *ngFor="let pendingAction of pendingActions; trackBy: trackByFn"
            [@flyInOut]="'in'"
        >
            <app-notification-item
                [notification]="pendingAction"
                [removable]="false"
            >
            </app-notification-item>
        </div>
    </div>

    <div fxLayout="column" fxLayoutGap="10px" *ngIf="notifications.length > 0">
        <div
            fxFlayout="row"
            fxLayoutAlign="space-between center"
            class="notification-title"
        >
            <h1 fxFlexAlign="center" class="mat-h1 notification-title-text">
                Notifications
            </h1>
            <button
                mat-button
                (click)="clearNotifications()"
                id="clear-notifications"
            >
                {{ 'Clear' | uppercase }}
            </button>
        </div>

        <div
            *ngFor="let notification of notifications; trackBy: trackByFn"
            [@flyInOut]="'in'"
        >
            <app-notification-item
                [notification]="notification"
                (remove)="removeNotification(notification.identifier)"
            >
            </app-notification-item>
        </div>
    </div>
</div>
