.list {
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 35px;
    padding: 10px 20px 28px 20px;
}

.list__labels {
    width: 100%;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 14px;
    text-transform: uppercase;
    opacity: 0.75;
}

.list__contacts {
    width: 100%;
}

.button-section {
    width: 100%;
}

.button {
    padding: 0 25px !important;
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.05);
    height: 80px;
    z-index: 1;
}

.button--grey {
    background-color: #3a3a3a;
}

.button__icon {
    height: 20px;
    line-height: 20px;
    margin-right: 15px;
}

.button__icon--big {
    height: 24px !important;
}

.options__file-input {
    display: none;
}

.options__divider {
    height: 1px;
    width: 84%;
    margin: 0 auto;
    background-color: #000000;
    opacity: 0.17;
}
