<div class="list" fxLayout="column" fxLayoutGap="20px">
    <div class="list__labels" fxLayout="row" fxLayoutAlign="start center">
        <span
            >Contacts -
            {{ showAll ? totalContacts : visibleContacts.length }} of
            {{ totalContacts }}</span
        >
        <div fxFlex="1 1 auto"></div>
        <button mat-icon-button [matMenuTriggerFor]="options">
            <mat-icon svgIcon="more" aria-label="Options"></mat-icon>
        </button>
        <mat-menu
            class="options"
            #options="matMenu"
            [overlapTrigger]="true"
            xPosition="before"
        >
            <input
                #upload_select
                class="options__file-input"
                type="file"
                accept="application/json, .json"
                (change)="filesSelected($event.target.files)"
            />
            <button mat-menu-item (click)="upload_select.click()">
                Import contacts
            </button>
            <div class="options__divider"></div>
            <button mat-menu-item (click)="downloadContacts()">
                Export contacts
            </button>
        </mat-menu>
    </div>
    <div
        class="list__contacts"
        fxLayout="column"
        fxLayoutGap="20px"
        #contact_list
    >
        <app-contact
            *ngFor="
                let contact of visibleContacts;
                let i = index;
                trackBy: trackByFn
            "
            [contact]="contact"
            [selected]="isSelected(contact)"
            (select)="setSelection(contact)"
            (update)="updateContacts()"
            [@flyInOutLeft]="'in'"
        ></app-contact>
    </div>
    <div class="button-section" fxLayout="row">
        <button
            mat-flat-button
            color="primary"
            class="button"
            (click)="addContact()"
            fxLayout="row"
            fxLayoutAlign="start center"
            fxFlex="0 1 198px"
        >
            <mat-icon class="button__icon" svgIcon="add" aria-hidden="true">
            </mat-icon>
            <span> Add new contact</span>
        </button>
        <div fxFlex="1 1 auto"></div>
        <button
            *ngIf="totalContacts > 2"
            mat-flat-button
            color="primary"
            class="button"
            (click)="toggleShowAll()"
            fxLayout="row"
            fxLayoutAlign="start center"
            fxFlex="0 1 130px"
        >
            <mat-icon
                class="button__icon button__icon--big"
                svgIcon="eye"
                aria-hidden="true"
            >
            </mat-icon>
            <span> {{ showAll ? 'Hide' : 'All' }} </span>
        </button>
    </div>
</div>
