.list {
    color: #b8b8b8;
}

.list__labels {
    width: 100%;
    font-size: 11px;
    letter-spacing: 0.91px;
    line-height: 13px;
    text-transform: uppercase;
}

.button-section {
    width: 100%;
}

.button {
    padding: 0 23px !important;
}

.button__icon {
    height: 20px;
    line-height: 20px;
    margin-right: 15px;
}

.button__icon--big {
    height: 24px !important;
}
