.card {
    height: 130px;
    width: 210px;
    border-radius: 15px;
    background-color: #2b2b2b;
    padding: 0 25px;
    color: #b8b8b8;
}

.options__divider {
    height: 1px;
    width: 84%;
    margin: 0 auto;
    background-color: #000000;
    opacity: 0.17;
}

.icon-box {
    width: 26px;
    height: 26px;
}

.icon-box__identicon {
    border-radius: 50%;
    height: 100%;
}

.info__balance {
    font-weight: 300;
    font-size: 28px;
    line-height: 33px;
    letter-spacing: -0.76px;
    color: #ffffff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.info__label {
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 14px;
    opacity: 0.43;
}
