@import '../../../sass/colors';

.card {
    height: 116px;
    border-radius: 15px;
    background-color: $bg-grey;
    padding: 17px;

    &--transparent {
        background: none;
        border: 1px solid $bg-grey;
        color: #c4c4c4;
    }

    &__top {
        width: 100%;
        position: relative;
    }
}

.options-button {
    position: absolute;
    right: 0;
    top: -8px;
}

.options__divider {
    height: 1px;
    width: 84%;
    margin: 0 auto;
    background-color: $black;
    opacity: 0.17;
}

.info {
    &__state {
        font-size: 9px;
        line-height: 11px;
        text-transform: uppercase;
        color: $orange;
    }

    &__balance {
        font-size: 15px;
        line-height: 18px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.label {
    text-transform: uppercase;
    border-radius: 9px;
    padding: 0 12px;
    font-size: 10px;
    line-height: 18px;
    letter-spacing: 0.5px;
    text-align: center;
    background-color: $bg-label-yellow;
    color: $label-yellow;
}
