:host {
    width: 100%;
}

.card {
    height: 113px;
    opacity: 0.7;
    border-radius: 25px;
    background-color: #ffffff;
    padding: 0 25px;
    font-size: 13px;
    line-height: 15px;
}

.icon-box {
    width: 46px;
    height: 44px;
    border-radius: 15px;
    background-color: #000000;
}

.icon-box__icon {
    height: 24px;
    width: 24px;
}

.info {
    height: 44px;
    color: #000000;
}

.card__go-icon {
    height: 32px;
    color: #000000;
}
