<div
    class="card"
    fxLayout="row"
    fxLayoutAlign="start center"
    fxLayoutGap="25px"
>
    <div class="icon-box" fxLayout="column" fxLayoutAlign="center center">
        <mat-icon
            class="icon-box__icon"
            svgIcon="channel"
            aria-hidden="true"
        ></mat-icon>
    </div>
    <div class="info" fxLayout="column" fxLayoutAlign="space-between start">
        <span>
            <span [matTooltip]="channel.userToken.name">{{
                channel.userToken.symbol
            }}</span>
            channel with {{ addressLabel(channel.partner_address) }}
            {{ channel.partner_address }}
        </span>
        <span
            *ngIf="
                (channel.balance
                    | decimal: channel.userToken.decimals) as balance
            "
            [matTooltip]="
                (balance | displayDecimals: 3) === balance ? '' : balance
            "
            >Balance: {{ balance | displayDecimals: 3 }}
            {{ channel.userToken.symbol }}
        </span>
    </div>
    <div fxFlex="1 1 auto" fxLayout="row" fxLayoutAlign="center center"></div>
    <mat-icon class="card__go-icon" svgIcon="go" aria-hidden="true"></mat-icon>
</div>
