<div
    class="list"
    fxLayout="column"
    fxLayoutGap="22px"
    fxLayoutAlign="space-between start"
>
    <div class="list__labels">
        Open Channels -
        {{ showAll ? totalChannels : visibleChannels.length }} of
        {{ totalChannels }}
    </div>
    <button
        mat-flat-button
        color="primary"
        class="button"
        (click)="openChannel()"
        fxFlexOffset="10px"
        fxLayout="row"
        fxLayoutAlign="start center"
    >
        <mat-icon class="button__icon" svgIcon="add" aria-hidden="true">
        </mat-icon>
        <span> Open new {{ selectedToken?.symbol }} Channel </span>
    </button>
    <app-channel
        *ngFor="
            let channel of visibleChannels;
            let i = index;
            trackBy: trackByFn
        "
        [channel]="channel"
        [selected]="selectedIndex === i"
        (select)="setSelectedIndex(i)"
        [@flyInOut]="'in'"
    >
    </app-channel>
    <button
        *ngIf="totalChannels > 3"
        mat-flat-button
        color="primary"
        class="button"
        (click)="toggleShowAll()"
        fxLayout="row"
        fxLayoutAlign="start center"
    >
        <mat-icon
            class="button__icon button__icon--big"
            svgIcon="eye"
            aria-hidden="true"
        >
        </mat-icon>
        <span> {{ showAll ? 'Hide' : 'Show all' }} </span>
    </button>
</div>
