<div fxLayout="column">
    <div class="labels">
        Open Channels -
        {{ showAll ? totalChannels : visibleChannels.length }} of
        {{ totalChannels }}
    </div>
    <div
        class="list"
        fxLayout="row wrap"
        fxLayoutAlign="start"
        fxLayoutGap="19px"
        #channel_list
    >
        <button
            mat-flat-button
            class="button"
            fxLayout="column"
            fxLayoutAlign="center"
            (click)="openChannel()"
            fxFlex="0 0 64px"
            id="open-channel"
        >
            <mat-icon
                class="button__icon"
                svgIcon="add"
                aria-label="Open channel"
            >
            </mat-icon>
        </button>
        <app-channel
            *ngFor="
                let channel of visibleChannels;
                let i = index;
                trackBy: trackByFn
            "
            [channel]="channel"
            class="list__channel"
            [@stretchInOut]="'in'"
        >
        </app-channel>
        <button
            *ngIf="totalChannels > itemsPerRow"
            mat-flat-button
            class="button button--big"
            fxLayout="row"
            fxLayoutAlign="center center"
            (click)="toggleShowAll()"
            fxFlex="0 0 130px"
            id="show-all"
        >
            <mat-icon class="button__icon" svgIcon="eye" aria-hidden="true">
            </mat-icon>
            <span> {{ showAll ? 'Hide' : 'All' }} </span>
        </button>
    </div>
</div>
