@import '../../../../sass/colors';

.card {
    padding: 28px;
    min-height: 156px;
    background-color: #3a3a3a;
    border-radius: 15px;
    font-size: 12px;
    line-height: 14px;
}

.icon-box {
    width: 45px;
    height: 45px;
    border-radius: 15px;
    background-color: $black;
}

.content {
    overflow-x: hidden;
}

.content__title {
    letter-spacing: 1px;
    text-transform: uppercase;
    opacity: 0.7;
}

.content__description {
    font-size: 16px;
    line-height: 19px;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.content__date {
    opacity: 0.7;
}

.side {
    width: 32px;
}

.remove {
    margin-top: -8px;
}

.remove__icon {
    width: 16px !important;
    height: 16px !important;
}

.side__token-symbol {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: $black;
}
