<div class="card" fxLayout="row" fxLayoutGap="17px">
    <div class="icon-box" fxLayout="column" fxLayoutAlign="center center">
        <mat-icon [svgIcon]="notification.icon" aria-hidden="true"></mat-icon>
    </div>
    <div fxLayout="column" fxLayoutGap="13px" class="content" fxFlex="1 0 0">
        <div class="content__title">{{ notification.title }}</div>
        <div class="content__description" fxFlex="1 0 0">
            {{ notification.description }}
        </div>
        <div class="content__date">
            {{ notification.timestamp | date: 'dd-MM-yyy H:mm' }}
        </div>
    </div>
    <div
        class="side"
        fxLayout="column"
        fxLayoutAlign="start center"
        fxLayoutGap="11px"
    >
        <button
            mat-icon-button
            *ngIf="removable"
            (click)="remove.emit(true)"
            id="remove"
            class="remove"
        >
            <mat-icon
                aria-label="Remove notification"
                svgIcon="close"
                class="remove__icon"
            ></mat-icon>
        </button>
        <div
            *ngIf="notification.identiconAddress"
            class="identicon-box"
            fxLayout="column"
        >
            <img
                class="identicon-box__image"
                [src]="identicon(notification.identiconAddress)"
                alt="Channel partner identicon"
                matTooltip="{{ addressLabel(notification.identiconAddress) }}
                    {{ notification.identiconAddress }}
                    (Click to copy)"
                ngxClipboard
                [cbContent]="notification.identiconAddress"
            />
        </div>
        <div
            *ngIf="notification.userToken"
            class="side__token-symbol"
            fxLayout="column"
            fxLayoutAlign="center center"
            matTooltip="{{ notification.userToken.name }}
                {{ notification.userToken.address }}
                (Click to copy)"
            ngxClipboard
            [cbContent]="notification.userToken.address"
        >
            {{ notification.userToken.symbol }}
        </div>
    </div>
</div>
