<div>
    <button
        *ngIf="connection"
        class="match-parent-width"
        mat-raised-button
        color="accent"
        [disabled]="!connection.sum_deposits.isGreaterThan(0)"
        (click)="openPaymentDialog.emit(true)"
    >
        {{ 'Pay' | uppercase }}
    </button>

    <button
        *ngIf="!connection; else add_funds"
        class="match-parent-width"
        mat-stroked-button
        color="accent"
        (click)="openConnectionManagerDialog.emit(true)"
    >
        {{ 'Join Network' | uppercase }}
    </button>

    <ng-template #add_funds>
        <button
            class="match-parent-width"
            mat-button
            color="accent"
            matTooltip="Adds funds to the connection manager"
            (click)="openConnectionManagerDialog.emit(false)"
        >
            {{ 'Add funds' | uppercase }}
        </button>
    </ng-template>
    <button
        *ngIf="connection"
        class="match-parent-width"
        mat-button
        color="accent"
        (click)="openLeaveNetworkDialog.emit(true)"
    >
        {{ 'Leave Network' | uppercase }}
    </button>
    <button
        *ngIf="!onMainnet"
        [disabled]="requestingTokens"
        class="match-parent-width"
        id="token-mint"
        mat-button
        color="accent"
        (click)="requestTokens.emit(this)"
    >
        {{ 'Mint Token' | uppercase }}
    </button>
</div>
