@import '../../../../sass/colors';

.selector {
    font-size: 12px;
    line-height: 15px;
    background-color: $bg-dark-grey;
    border-radius: 15px;
    padding: 16px 16px 8px 16px;
}

.graph-button {
    &__icon {
        color: $action-blue;
        height: 16px !important;

        &--deselected {
            color: $dark-grey;
        }
    }
}

.address {
    width: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: $action-blue;

    &--deselected {
        color: $dark-grey;
    }

    &--big {
        margin-left: 16px;
        width: 178px;
    }
}

.info-box {
    height: 32px;

    &__equal-button {
        color: $dark-grey;
        text-decoration: underline;
        cursor: pointer;
        font-weight: 500;

        &:hover {
            color: $grey;
        }
    }

    &__error {
        width: 234px;
        overflow: hidden;
        text-overflow: ellipsis;
        color: $red;
    }
}
