/* roboto-300 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url('assets/fonts/roboto-v20-latin-300.eot'); /* IE9 Compat Modes */
    src: local('Roboto Light'), local('Roboto-Light'),
        url('assets/fonts/roboto-v20-latin-300.eot?#iefix')
            format('embedded-opentype'),
        /* IE6-IE8 */ url('assets/fonts/roboto-v20-latin-300.woff2')
            format('woff2'),
        /* Super Modern Browsers */
            url('assets/fonts/roboto-v20-latin-300.woff') format('woff'),
        /* Modern Browsers */ url('assets/fonts/roboto-v20-latin-300.ttf')
            format('truetype'),
        /* Safari, Android, iOS */
            url('assets/fonts/roboto-v20-latin-300.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('assets/fonts/roboto-v20-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Roboto'), local('Roboto-Regular'),
        url('assets/fonts/roboto-v20-latin-regular.eot?#iefix')
            format('embedded-opentype'),
        /* IE6-IE8 */ url('assets/fonts/roboto-v20-latin-regular.woff2')
            format('woff2'),
        /* Super Modern Browsers */
            url('assets/fonts/roboto-v20-latin-regular.woff') format('woff'),
        /* Modern Browsers */ url('assets/fonts/roboto-v20-latin-regular.ttf')
            format('truetype'),
        /* Safari, Android, iOS */
            url('assets/fonts/roboto-v20-latin-regular.svg#Roboto')
            format('svg'); /* Legacy iOS */
}

/* roboto-500 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('assets/fonts/roboto-v20-latin-500.eot'); /* IE9 Compat Modes */
    src: local('Roboto Medium'), local('Roboto-Medium'),
        url('assets/fonts/roboto-v20-latin-500.eot?#iefix')
            format('embedded-opentype'),
        /* IE6-IE8 */ url('assets/fonts/roboto-v20-latin-500.woff2')
            format('woff2'),
        /* Super Modern Browsers */
            url('assets/fonts/roboto-v20-latin-500.woff') format('woff'),
        /* Modern Browsers */ url('assets/fonts/roboto-v20-latin-500.ttf')
            format('truetype'),
        /* Safari, Android, iOS */
            url('assets/fonts/roboto-v20-latin-500.svg#Roboto') format('svg'); /* Legacy iOS */
}

body {
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    font-weight: 400;
}

.mat-flat-button {
    height: 52px;
    border-radius: 25px !important;
    font-size: 13px !important;
    line-height: 15px;
    font-weight: 400 !important;
    padding: 0 !important;
    min-width: 0px !important;
    box-shadow: none !important;
}

.mat-flat-button:disabled {
    border: 2px solid #979797;
    opacity: 0.32;
    background: none !important;
}

.mat-icon-button {
    height: 32px !important;
    width: 32px !important;
    line-height: 32px !important;
}

.full-width-form-field {
    width: 100%;
}

.full-width-form-field .mat-form-field-wrapper {
    width: 100%;
}

.full-width-form-field .mat-form-field-infix {
    width: 100%;
}

.full-width-expansion-panel {
    width: 100%;
}

.dialog-expansion-panel .mat-expansion-panel-body {
    padding-left: 0;
}

.round.identicon {
    border-radius: 50%;
}

.token-symbol {
    font-weight: 500;
    font-size: small;
}

.justify {
    text-align: justify;
}

.match-parent-height {
    height: 100%;
}

.match-parent-width {
    width: 100%;
}

.events {
    padding-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
}

.card-mobile {
    min-height: 14rem;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.can-shrink {
    min-width: 20px !important;
}

.toast-container {
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    min-width: 300px;
}

app-page-base {
    height: 100%;
}

.expanded-tooltip {
    min-width: 260px;
}

/* temporary fix for https://github.com/angular/components/issues/11765 */
.ng-animating .dialog-expansion-panel .mat-expansion-panel-header {
    height: 48px;
}
.ng-animating .dialog-expansion-panel .mat-expansion-panel-content {
    height: 0px;
    visibility: hidden;
}
