/* roboto-300 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url('assets/fonts/roboto-v20-latin-300.eot'); /* IE9 Compat Modes */
    src: local('Roboto Light'), local('Roboto-Light'),
        url('assets/fonts/roboto-v20-latin-300.eot?#iefix')
            format('embedded-opentype'),
        /* IE6-IE8 */ url('assets/fonts/roboto-v20-latin-300.woff2')
            format('woff2'),
        /* Super Modern Browsers */
            url('assets/fonts/roboto-v20-latin-300.woff') format('woff'),
        /* Modern Browsers */ url('assets/fonts/roboto-v20-latin-300.ttf')
            format('truetype'),
        /* Safari, Android, iOS */
            url('assets/fonts/roboto-v20-latin-300.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('assets/fonts/roboto-v20-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Roboto'), local('Roboto-Regular'),
        url('assets/fonts/roboto-v20-latin-regular.eot?#iefix')
            format('embedded-opentype'),
        /* IE6-IE8 */ url('assets/fonts/roboto-v20-latin-regular.woff2')
            format('woff2'),
        /* Super Modern Browsers */
            url('assets/fonts/roboto-v20-latin-regular.woff') format('woff'),
        /* Modern Browsers */ url('assets/fonts/roboto-v20-latin-regular.ttf')
            format('truetype'),
        /* Safari, Android, iOS */
            url('assets/fonts/roboto-v20-latin-regular.svg#Roboto')
            format('svg'); /* Legacy iOS */
}

/* roboto-500 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('assets/fonts/roboto-v20-latin-500.eot'); /* IE9 Compat Modes */
    src: local('Roboto Medium'), local('Roboto-Medium'),
        url('assets/fonts/roboto-v20-latin-500.eot?#iefix')
            format('embedded-opentype'),
        /* IE6-IE8 */ url('assets/fonts/roboto-v20-latin-500.woff2')
            format('woff2'),
        /* Super Modern Browsers */
            url('assets/fonts/roboto-v20-latin-500.woff') format('woff'),
        /* Modern Browsers */ url('assets/fonts/roboto-v20-latin-500.ttf')
            format('truetype'),
        /* Safari, Android, iOS */
            url('assets/fonts/roboto-v20-latin-500.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-mono-regular - latin */
@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    src: url('assets/fonts/roboto-mono-v7-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Roboto Mono'), local('RobotoMono-Regular'),
        url('assets/fonts/roboto-mono-v7-latin-regular.eot?#iefix')
            format('embedded-opentype'),
        /* IE6-IE8 */ url('assets/fonts/roboto-mono-v7-latin-regular.woff2')
            format('woff2'),
        /* Super Modern Browsers */
            url('assets/fonts/roboto-mono-v7-latin-regular.woff') format('woff'),
        /* Modern Browsers */
            url('assets/fonts/roboto-mono-v7-latin-regular.ttf')
            format('truetype'),
        /* Safari, Android, iOS */
            url('assets/fonts/roboto-mono-v7-latin-regular.svg#RobotoMono')
            format('svg'); /* Legacy iOS */
}

body {
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    font-weight: 400;
}

.mat-flat-button {
    height: 52px;
    border-radius: 25px !important;
    font-size: 13px !important;
    line-height: 15px;
    font-weight: 400 !important;
    padding: 0 !important;
    min-width: 0px !important;
    box-shadow: none !important;
}

.mat-flat-button:disabled {
    border: 2px solid #979797;
    opacity: 0.32;
    background: none !important;
}

.mat-icon-button {
    height: 32px !important;
    width: 32px !important;
    line-height: 32px !important;
}

.mat-icon-button .mat-icon {
    height: 20px !important;
    width: 20px !important;
}

.mat-tooltip {
    font-size: 13px !important;
    line-height: 15px !important;
    font-weight: 400 !important;
    border-radius: 20px !important;
}

.mat-menu-panel {
    box-shadow: none !important;
    border-radius: 20px !important;
    background-color: #000000 !important;
    min-height: 38px !important;
}

.mat-menu-content {
    padding: 0 !important;
}

.mat-menu-item {
    font-size: 13px !important;
    line-height: 15px !important;
    height: 38px !important;
    padding: 0 20px !important;
}

.full-width-form-field {
    width: 100%;
}

.full-width-form-field .mat-form-field-wrapper {
    width: 100%;
}

.full-width-form-field .mat-form-field-infix {
    width: 100%;
}

.full-width-expansion-panel {
    width: 100%;
}

.dialog-expansion-panel .mat-expansion-panel-body {
    padding-left: 0;
}

.identicon {
    display: block;
    width: 100%;
    height: auto;
    margin: 16px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 6.25%;
    box-shadow: inset rgba(255, 255, 255, 0.6) 0 2px 2px,
        inset rgba(0, 0, 0, 0.3) 0 -2px 6px;
    transition: border-radius 2.5s;
    transition-delay: 3s;
}

.identicon.mobile {
    height: 50px !important;
    width: 50px !important;
    margin: 2px !important;
}

.round.identicon {
    border-radius: 50%;
}

.token-symbol {
    font-weight: 500;
    font-size: small;
}

.justify {
    text-align: justify;
}

.match-parent-height {
    height: 100%;
}

.match-parent-width {
    width: 100%;
}

.events {
    padding-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
}

.card-mobile {
    min-height: 14rem;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.can-shrink {
    min-width: 20px !important;
}

.toast-container {
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    min-width: 300px;
}

app-page-base {
    height: 100%;
}

.expanded-tooltip {
    min-width: 260px;
}

/* temporary fix for https://github.com/angular/components/issues/11765 */
.ng-animating .dialog-expansion-panel .mat-expansion-panel-header {
    height: 48px;
}
.ng-animating .dialog-expansion-panel .mat-expansion-panel-content {
    height: 0px;
    visibility: hidden;
}
