@import './sass/fonts';
@import './sass/colors';

/* roboto-300 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url('assets/fonts/roboto-v20-latin-300.eot'); /* IE9 Compat Modes */
    src: local('Roboto Light'), local('Roboto-Light'),
        url('assets/fonts/roboto-v20-latin-300.eot?#iefix')
            format('embedded-opentype'),
        /* IE6-IE8 */ url('assets/fonts/roboto-v20-latin-300.woff2')
            format('woff2'),
        /* Super Modern Browsers */
            url('assets/fonts/roboto-v20-latin-300.woff') format('woff'),
        /* Modern Browsers */ url('assets/fonts/roboto-v20-latin-300.ttf')
            format('truetype'),
        /* Safari, Android, iOS */
            url('assets/fonts/roboto-v20-latin-300.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('assets/fonts/roboto-v20-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Roboto'), local('Roboto-Regular'),
        url('assets/fonts/roboto-v20-latin-regular.eot?#iefix')
            format('embedded-opentype'),
        /* IE6-IE8 */ url('assets/fonts/roboto-v20-latin-regular.woff2')
            format('woff2'),
        /* Super Modern Browsers */
            url('assets/fonts/roboto-v20-latin-regular.woff') format('woff'),
        /* Modern Browsers */ url('assets/fonts/roboto-v20-latin-regular.ttf')
            format('truetype'),
        /* Safari, Android, iOS */
            url('assets/fonts/roboto-v20-latin-regular.svg#Roboto')
            format('svg'); /* Legacy iOS */
}

/* roboto-500 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('assets/fonts/roboto-v20-latin-500.eot'); /* IE9 Compat Modes */
    src: local('Roboto Medium'), local('Roboto-Medium'),
        url('assets/fonts/roboto-v20-latin-500.eot?#iefix')
            format('embedded-opentype'),
        /* IE6-IE8 */ url('assets/fonts/roboto-v20-latin-500.woff2')
            format('woff2'),
        /* Super Modern Browsers */
            url('assets/fonts/roboto-v20-latin-500.woff') format('woff'),
        /* Modern Browsers */ url('assets/fonts/roboto-v20-latin-500.ttf')
            format('truetype'),
        /* Safari, Android, iOS */
            url('assets/fonts/roboto-v20-latin-500.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-700 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('assets/fonts/roboto-v20-latin-700.eot'); /* IE9 Compat Modes */
    src: local('Roboto Bold'), local('Roboto-Bold'),
        url('assets/fonts/roboto-v20-latin-700.eot?#iefix')
            format('embedded-opentype'),
        /* IE6-IE8 */ url('assets/fonts/roboto-v20-latin-700.woff2')
            format('woff2'),
        /* Super Modern Browsers */
            url('assets/fonts/roboto-v20-latin-700.woff') format('woff'),
        /* Modern Browsers */ url('assets/fonts/roboto-v20-latin-700.ttf')
            format('truetype'),
        /* Safari, Android, iOS */
            url('assets/fonts/roboto-v20-latin-700.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-mono-300 - latin */
@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 300;
    src: url('assets/fonts/roboto-mono-v7-latin-300.eot'); /* IE9 Compat Modes */
    src: local('Roboto Mono Light'), local('RobotoMono-Light'),
        url('assets/fonts/roboto-mono-v7-latin-300.eot?#iefix')
            format('embedded-opentype'),
        /* IE6-IE8 */ url('assets/fonts/roboto-mono-v7-latin-300.woff2')
            format('woff2'),
        /* Super Modern Browsers */
            url('assets/fonts/roboto-mono-v7-latin-300.woff') format('woff'),
        /* Modern Browsers */ url('assets/fonts/roboto-mono-v7-latin-300.ttf')
            format('truetype'),
        /* Safari, Android, iOS */
            url('assets/fonts/roboto-mono-v7-latin-300.svg#RobotoMono')
            format('svg'); /* Legacy iOS */
}

/* roboto-mono-regular - latin */
@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    src: url('assets/fonts/roboto-mono-v7-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Roboto Mono'), local('RobotoMono-Regular'),
        url('assets/fonts/roboto-mono-v7-latin-regular.eot?#iefix')
            format('embedded-opentype'),
        /* IE6-IE8 */ url('assets/fonts/roboto-mono-v7-latin-regular.woff2')
            format('woff2'),
        /* Super Modern Browsers */
            url('assets/fonts/roboto-mono-v7-latin-regular.woff') format('woff'),
        /* Modern Browsers */
            url('assets/fonts/roboto-mono-v7-latin-regular.ttf')
            format('truetype'),
        /* Safari, Android, iOS */
            url('assets/fonts/roboto-mono-v7-latin-regular.svg#RobotoMono')
            format('svg'); /* Legacy iOS */
}

body {
    font-family: $main-font;
    font-weight: 400;
    scrollbar-color: $scrollbar-grey $transparent;
    scrollbar-width: 10px;
}

.mat-flat-button {
    height: 50px;
    border-radius: 100px !important;
    font-size: 13px !important;
    line-height: 15px !important;
    font-weight: 500 !important;
    padding: 0 !important;
    min-width: 0px !important;
    box-shadow: none !important;
}

.mat-icon-button {
    height: 32px !important;
    width: 32px !important;
    line-height: 32px !important;

    .mat-icon {
        height: 22px !important;
    }
}

.mat-flat-button:disabled,
.mat-icon-button:disabled {
    border: 1px solid $dark-grey;
    color: $dark-grey !important;
    opacity: 0.32;
    background: none !important;
}

.mat-tooltip {
    font-size: 13px !important;
    line-height: 15px !important;
    font-weight: 400 !important;
    border-radius: 5px !important;
    padding: 10px 15px !important;
    background-color: #363636 !important;
    max-width: 350px !important;
    white-space: pre-line !important;
}

.mat-menu-panel {
    box-shadow: none !important;
    border-radius: 20px !important;
    background-color: $white !important;
    min-height: 38px !important;
}

.mat-menu-content {
    padding: 0 !important;
}

.mat-menu-item {
    font-size: 13px !important;
    line-height: 15px !important;
    height: 38px !important;
    padding: 0 20px !important;
    color: $black !important;
}

.mat-dialog-container {
    background-color: $black !important;
    border-radius: 24px !important;
    padding: 18px 48px 32px 48px !important;
    box-shadow: none !important;
}

.grey-dialog .mat-dialog-container {
    background-color: $bg-light-grey !important;
}

.dialog-backdrop {
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
}

@supports not (
    (backdrop-filter: blur(15px)) or (-webkit-backdrop-filter: blur(15px))
) {
    .dialog-backdrop {
        background: rgba(0, 0, 0, 0.32);
    }
}

.mat-select {
    border-radius: 100px;
    background-color: $bg-grey;
    height: 40px;
    padding: 0 16px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
}

.mat-select-trigger {
    height: 100% !important;
    width: 100%;
}

.mat-select-value {
    vertical-align: middle;
    color: $grey !important;
}

.mat-select-arrow {
    color: currentColor !important;
}

.mat-select-placeholder {
    color: $dark-grey !important;
}

.mat-select-panel,
.mat-autocomplete-panel {
    box-shadow: none !important;
    border-radius: 5px !important;
    background-color: $bg-grey !important;
}

.mat-select--dark .mat-select-placeholder,
.mat-select--dark .mat-select-value {
    color: $white !important;
}

.mat-select-panel--dark {
    background-color: $black !important;

    .mat-option {
        color: $white !important;
    }

    .mat-flat-button:not(:hover) {
        background: none !important;
    }
}

.mat-autocomplete-panel--light {
    background-color: $light-grey !important;

    .mat-option {
        color: $black !important;

        &.mat-active,
        &:hover:not(.mat-option-disabled) {
            background-color: rgba(0, 0, 0, 0.04);
        }
    }
}

::placeholder,
::-webkit-input-placeholder {
    color: $dark-grey;
    opacity: 1;
}

.mat-option {
    color: $grey !important;
    font-size: 13px !important;
    line-height: 15px !important;
    height: 60px !important;
    padding: 0 0 0 25px !important;
}

.mat-option-text > span {
    margin-left: 22px;

    &:first-child {
        margin-left: 0;
    }
}

.token-option > .mat-option-text > span {
    &:first-child,
    &:last-child {
        opacity: 0.5;
    }
}

.contact-option > .mat-option-text > span:last-child {
    opacity: 0.5;
}

.mat-slider-horizontal {
    height: 32px !important;
    min-width: 108px !important;

    .mat-slider-wrapper {
        height: 3px !important;
        top: 15px !important;
    }

    .mat-slider-track-wrapper {
        height: 100% !important;
    }

    .mat-slider-track-background {
        height: 100% !important;
        background-color: $bg-grey !important;
    }

    .mat-slider-track-fill {
        height: 100% !important;
    }
}

.mat-slider-thumb {
    width: 14px !important;
    height: 14px !important;
    right: -7px !important;
    bottom: -7px !important;
}

.mat-slider-min-value:not(.mat-slider-thumb-label-showing) .mat-slider-thumb {
    border: none;
    background-color: $grey !important;
}

.mat-slider-disabled .mat-slider-thumb,
.mat-slider-min-value:not(.mat-slider-thumb-label-showing).mat-slider-disabled
    .mat-slider-thumb {
    border: none;
    background-color: $dark-grey !important;
}

.mat-slider-disabled .mat-slider-track-fill {
    background-color: $bg-grey !important;
}

input:focus {
    outline: none;
}

.toast-container {
    min-width: 300px;
}

a {
    outline-color: $white;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: $scrollbar-grey;
    border-radius: 10px;
}
