@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

$webui-palette: (
    50: #ffffff,
    100: #ffffff,
    200: #ffffff,
    300: #ffffff,
    400: #ffffff,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #ffffff,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #000000,
        500: #b8b8b8,
        600: #b8b8b8,
        700: #b8b8b8,
        800: #b8b8b8,
        900: #b8b8b8,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000,
    ),
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$webui-app-primary: mat-palette($webui-palette);
$webui-app-accent: mat-palette($webui-palette, A200, A100, A400);
$background-color: #000000;

// The warn palette is optional (defaults to red).
$webui-app-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$webui-app-theme: mat-dark-theme(
    $webui-app-primary,
    $webui-app-accent,
    $webui-app-warn
);

// Insert custom background color
$background: map-get($webui-app-theme, background);
$background: map_merge(
    $background,
    (
        background: $background-color,
    )
);
$webui-app-theme: map_merge(
    $webui-app-theme,
    (
        background: $background,
    )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($webui-app-theme);

.mat-activated {
    color: mat-color($mat-blue-grey, 800);
}
