<app-page-base
    (pageChanged)="onPageEvent($event)"
    [pageSize]="pageSize"
    [totalElements]="totalAddresses"
    noItemsMessage="No addresses found"
>
    <mat-card class="page-header" pageHeader>
        <mat-card-title>Address Book</mat-card-title>
        <mat-card-content>
            <div
                *ngIf="!(isMobile$ | async)"
                [formGroup]="form"
                fxLayout="row"
                fxLayoutGap="14px"
            >
                <app-address-input
                    id="addresses-address"
                    [displayIdenticon]="true"
                    errorPlaceholder="Contact"
                    formControlName="address"
                    fxFlex="50"
                    fxLayout="column"
                    placeholder="Address"
                ></app-address-input>

                <div fxLayout="column" fxFlex="50">
                    <mat-form-field
                        hideRequiredMarker
                        class="full-width-form-field"
                    >
                        <input
                            id="addresses-label"
                            matInput
                            placeholder="Label"
                            formControlName="label"
                            required
                        />
                        <mat-error
                            *ngIf="
                                form.get('label').invalid &&
                                (form.get('label').dirty ||
                                    form.get('label').touched)
                            "
                        >
                            The label cannot be empty!
                        </mat-error>
                    </mat-form-field>
                </div>

                <div
                    fxLayout="column"
                    fxflex="0 0 40px"
                    fxLayoutAlign="center end"
                >
                    <button
                        id="addresses-save"
                        mat-mini-fab
                        color="primary"
                        [disabled]="!form.valid"
                        (click)="save()"
                        matTooltip="Adds a new address to the address book"
                    >
                        <mat-icon>add</mat-icon>
                    </button>
                </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="end" class="action-buttons">
                <div fxLayout="column" *ngIf="(isMobile$ | async)">
                    <button
                        (click)="openAddDialog()"
                        id="open-add-dialog"
                        mat-icon-button
                        color="primary"
                        matTooltip="Opens the dialog to add a new address"
                    >
                        <mat-icon aria-label="Import icon">
                            add_circle
                        </mat-icon>
                    </button>
                </div>
                <div fxLayout="column">
                    <button
                        id="addresses-import"
                        mat-icon-button
                        color="primary"
                        (click)="uploader.showDropArea = !uploader.showDropArea"
                        matTooltip="Opens the drop area where you can drag the file to import"
                    >
                        <mat-icon aria-label="Import icon">
                            cloud_upload
                        </mat-icon>
                    </button>
                </div>

                <div fxLayout="column">
                    <button
                        id="addresses-export"
                        mat-icon-button
                        color="primary"
                        (click)="saveAddresses()"
                        [disabled]="totalAddresses === 0"
                        matTooltip="Downloads the address book as a JSON file"
                    >
                        <mat-icon aria-label="Export icon">
                            cloud_download
                        </mat-icon>
                    </button>
                </div>

                <div fxlayout="column">
                    <button
                        id="addresses-delete"
                        mat-icon-button
                        color="primary"
                        (click)="confirmDelete()"
                        matTooltip="Deletes all the addresses in the Address book"
                    >
                        <mat-icon aria-label="Delete icon">delete</mat-icon>
                    </button>
                </div>
            </div>
        </mat-card-content>

        <app-file-upload
            #uploader="file-upload"
            (addresses)="importAddresses($event)"
        ></app-file-upload>
    </mat-card>

    <app-page-item
        *ngFor="let address of visibleAddresses; trackBy: trackByFn"
        [id]="'address_' + address.address"
        [showActions]="false"
        pageItem
    >
        <app-address-book-item
            [address]="address"
            [editMode]="editedAddress === address.address"
            (edit)="setEdited(address.address)"
            (cancelled)="cancelled()"
            (delete)="deleteAddress($event)"
            (update)="updateAddress($event)"
        ></app-address-book-item>
    </app-page-item>
</app-page-base>
