<div class="address-book"
     fxLayout='column'
     fxFlex="90"
     fxFlex.lg="70"
     fxFlex.xl="60"
     fxFlexOffset="5"
     fxFlexOffset.xl="20"
     fxFlexOffset.lg="15">

    <mat-card fxLayout="column" class="card" fxLayoutGap.lt-sm="30px">
        <div fxLayout="row">
            <h4>Address Book</h4>
        </div>
        <div fxLayout="row" [formGroup]="form" fxLayoutGap="14px">

            <div fxLayout="column"
                 fxFlex="0 0 30px"
                 fxLayoutAlign="center center">

                <img class="identicon no-margin"
                     *ngIf="(form.get('address').value && form.get('address').valid); else placeholder"
                     [src]="identicon(form.get('address').value)" alt="Address identicon"/>

                <ng-template #placeholder>
                    <mat-icon>person</mat-icon>
                </ng-template>
            </div>

            <div fxLayout="column" fxFlex="1 1 auto">
                <mat-form-field hideRequiredMarker>
                    <input matInput placeholder="Address" formControlName="address" required/>
                    <mat-error
                        *ngIf="form.get('address').invalid && (form.get('address').dirty || form.get('address').touched)">

                    </mat-error>
                </mat-form-field>
            </div>

            <div fxLayout="column" fxFlex="1 1 auto">
                <mat-form-field hideRequiredMarker>
                    <input matInput placeholder="Label" formControlName="label" required/>
                    <mat-error
                        *ngIf="form.get('label').invalid && (form.get('label').dirty || form.get('label').touched)">

                    </mat-error>
                </mat-form-field>
            </div>

            <div fxLayout="column">
                <button mat-mini-fab color="primary" [disabled]="!form.valid" (click)="save()">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
        </div>

        <div fxLayout="row" fxLayoutAlign="end">
            <div fxLayout="column">
                <button mat-icon-button color="primary">
                    <mat-icon aria-label="Export icon">cloud_download</mat-icon>
                </button>
            </div>

            <div fxLayout="column">
                <button mat-icon-button color="primary">
                    <mat-icon aria-label="Import icon">cloud_upload</mat-icon>
                </button>
            </div>
        </div>

    </mat-card>

    <mat-paginator class="mat-elevation-z1 paginator"
                   fxLayout="row" fxLayoutAlign="end"
                   [length]="totalAddresses"
                   [pageSize]="pageSize"
                   [pageSizeOptions]="[10,25,50,100]"
                   (page)="onPageEvent($event)">
    </mat-paginator>

    <div class="address-list" fxLayout="column" fxLayoutGap="15px">
        <mat-card *ngFor="let address of visibleAddresses; trackBy: trackByFn"
                  [id]="'address_'+address.address"
                  class="card"
                  [@flyInOut]="'in'"
                  fxLayout="row"
                  fxLayoutGap="40px">

            <div fxLayout="column" fxFlex="0 0 4em" fxLayoutAlign="center">
                <img class="identicon" [src]="identicon(address.address)" alt="Address identicon"/>
            </div>

            <div fxLayout="column" fxFlex="1 1 auto">
                <div fxLayout="row">
                    <mat-form-field>
                        <input matInput [value]="address.address" disabled>
                    </mat-form-field>

                </div>
                <div fxLayout="row">
                    <mat-form-field>
                        <input matInput [value]="address.label" disabled>
                    </mat-form-field>
                </div>
            </div>

            <div fxLayout="column" fxFlex="0 0 1em" fxLayoutAlign="start end">
                <button mat-icon-button color="primary">
                    <mat-icon aria-label="Edit icon">edit</mat-icon>
                </button>
            </div>

        </mat-card>
    </div>
</div>