<div class="address-book"
     fxLayout='column'
     fxFlex="90"
     fxFlex.lg="70"
     fxFlex.xl="60"
     fxFlexOffset="5"
     fxFlexOffset.xl="20"
     fxFlexOffset.lg="15">

    <mat-card class="header" fxLayoutGap.lt-sm="30px">
        <div fxLayout="row">
            <h4>Address Book</h4>
        </div>
        <div fxLayout="row" [formGroup]="form" fxLayoutGap="14px">

            <div fxLayout="column"
                 fxFlex="0 0 40px"
                 fxLayoutAlign="center center">

                <img class="identicon no-margin"
                     *ngIf="(form.get('address').value && form.get('address').valid); else placeholder"
                     [src]="identicon(form.get('address').value)" alt="Address identicon"/>

                <ng-template #placeholder>
                    <mat-icon>person</mat-icon>
                </ng-template>
            </div>

            <div fxLayout="column" fxFlex="1 1 40%">
                <mat-form-field hideRequiredMarker>
                    <input id="addresses-address" matInput placeholder="Address" formControlName="address" required/>
                    <mat-error
                        *ngIf="form.get('address').invalid && (form.get('address').dirty || form.get('address').touched)">

                    </mat-error>
                </mat-form-field>
            </div>

            <div fxLayout="column" fxFlex="1 1 40%">
                <mat-form-field hideRequiredMarker>
                    <input id="addresses-label" matInput placeholder="Label" formControlName="label" required/>
                    <mat-error
                        *ngIf="form.get('label').invalid && (form.get('label').dirty || form.get('label').touched)">
                        The label cannot be empty!
                    </mat-error>
                </mat-form-field>
            </div>

            <div fxLayout="column" fxflex="0 0 40px" fxLayoutAlign="center end">
                <button id="addresses-save" mat-mini-fab color="primary" [disabled]="!form.valid" (click)="save()"
                        matTooltip="Adds a new address to the address book">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
        </div>

        <div fxLayout="row" fxLayoutAlign="end" class="action-buttons">
            <div fxLayout="column">
                <button id="addresses-import" mat-icon-button color="primary" (click)="showDropArea = !showDropArea"
                        matTooltip="Opens the drop area where you can drag the file to import">
                    <mat-icon aria-label="Import icon">cloud_upload</mat-icon>
                </button>
            </div>

            <div fxLayout="column">
                <button id="addresses-export" mat-icon-button color="primary" (click)="saveAddresses()"
                        matTooltip="Downloads the address book as a JSON file">
                    <mat-icon aria-label="Export icon">cloud_download</mat-icon>
                </button>
            </div>

            <div fxlayout="column">
                <button id="addresses-delete" mat-icon-button color="primary" (click)="confirmDelete()"
                        matTooltip="Deletes all the addresses in the Address book">
                    <mat-icon aria-label="Delete icon">delete</mat-icon>
                </button>
            </div>
        </div>

        <div fxLayout="row" *ngIf="showDropArea">
            <div id="drop-zone" appDragUpload
                 (selectedFile)="filesSelected($event)"
                 (error)="error($event)"
                 allowedExtension="json">
                Drop address file here

                <mat-error *ngIf="uploadError" class="drop-zone-error">
                    <span *ngIf="uploadError.invalidExtension">Only json files are allowed</span>
                    <span *ngIf="uploadError.multiple">Only a single file is supported</span>
                    <span *ngIf="uploadError.invalidFormat">The uploaded file is not in a valid format</span>
                    <span *ngIf="uploadError.exceedsUploadLimit">
                        The file exceed the max allowed size of {{ uploadError.exceedsUploadLimit }} bytes
                    </span>
                </mat-error>
            </div>
        </div>

    </mat-card>

    <mat-paginator class="mat-elevation-z1 paginator header"
                   fxLayout="row" fxLayoutAlign="end"
                   [length]="totalAddresses"
                   [pageSize]="pageSize"
                   [pageSizeOptions]="[10,25,50,100]"
                   (page)="onPageEvent($event)">
    </mat-paginator>

    <div class="match-parent-height" fxLayout="column" fxLayoutAlign="center center" *ngIf="totalAddresses == 0">
        <mat-icon color="primary">info</mat-icon>
        <h2 class="mat-title">No addresses found!</h2>
    </div>

    <div class="address-list" fxLayout="column" fxLayoutGap="15px" *ngIf="totalAddresses > 0">
        <mat-card *ngFor="let address of visibleAddresses; trackBy: trackByFn"
                  [id]="'address_'+address.address"
                  class="card"
                  [@flyInOut]="'in'">

            <app-address-book-item
                [address]="address"
                [editMode]="editedAddress === address.address"
                (edit)="setEdited(address.address)"
                (cancelled)="cancelled()"
                (delete)="deleteAddress($event)"
                (update)="updateAddress($event)"
            ></app-address-book-item>

        </mat-card>
    </div>
</div>