@import '../../../sass/page_variables';

:host {
    height: 100%;
}

$mobile-identicon-size: 60px;

.mobile {
    width: $mobile-identicon-size;
    height: $mobile-identicon-size;
}

.page-header .mat-card-content {
    margin-bottom: 0 !important;
}
