.navigation-block {
    height: 132px;
}

.navigation {
    height: 41px;
    width: 41px;
}

.navigation__icon {
    color: #ffffff;
    height: 100%;
    width: 100%;
    line-height: 10px;
}

.carousel {
    height: 132px;
}

.register-button {
    color: #ffffff;
    height: 100%;
    width: 82px;
}

.tokens {
    overflow: hidden;
}

.action {
    padding: 0 25px !important;
}

.action__icon {
    width: 32px;
    margin-right: 15px;
}

.action__icon--small {
    width: 24px !important;
}
