<div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="space-between center">
    <button
        class="navigation"
        mat-flat-button
        color="primary"
        [disabled]="currentSelection === 0"
        (click)="previousToken()"
    >
        <mat-icon
            class="navigation__icon"
            svgIcon="left"
            aria-label="Previous token network"
        >
        </mat-icon>
    </button>
    <div
        class="tokens"
        fxLayout="row"
        fxLayoutGap="20px"
        fxLayoutAlign="center"
        fxFlex
    >
        <app-token
            *ngFor="let item of visibleItems; let i = index; trackBy: trackByFn"
            [token]="isAllNetworksView(item) ? undefined : item"
            [openChannels]="getNumberOfChannels(item)"
            [position]="i"
            [allNetworksView]="isAllNetworksView(item)"
            [onMainnet]="(network$ | async).chainId === 1"
            (select)="select(currentSelection + i)"
            [@easeInOut]="'in'"
        >
        </app-token>
    </div>
    <button
        class="navigation"
        mat-flat-button
        color="primary"
        [disabled]="currentSelection === selectables - 1"
        (click)="nextToken()"
    >
        <mat-icon
            class="navigation__icon"
            svgIcon="right"
            aria-label="Next token network"
        >
        </mat-icon>
    </button>
</div>
