@import '../../../sass/fonts';
@import '../../../sass/colors';

.timeout-input {
    z-index: 1;
    position: relative;
    height: 40px;
    width: 224px;

    &__field {
        border-radius: 100px;
        background-color: $bg-grey;
        border: none;
        box-shadow: none;
        font-family: $main-font;
        padding: 0 16px;
        height: 100%;
        font-size: 14px;
        line-height: 16px;
        font-weight: 500;
        color: $grey;
        width: 100%;
        min-width: 0;
        appearance: textfield;
        -moz-appearance: textfield;
        -webkit-appearance: textfield;
    }
}

.error {
    height: 32px;
    font-size: 12px;
    line-height: 15px;
    padding-left: 16px;
    color: $red;
}
