<app-raiden-dialog
    titleText="Open Channel"
    acceptText="Open"
    [acceptDisabled]="form.invalid"
    [formGroup]="form"
    (accept)="accept()"
    (cancel)="cancel()"
>
    <app-token-network-selector
        formControlName="token"
        (tokenChanged)="tokenNetworkSelected($event)"
    >
    </app-token-network-selector>
    <app-address-input
        [displayIdenticon]="true"
        [userAccount]="true"
        formControlName="address"
        placeholder="Partner address"
    >
    </app-address-input>
    <app-token-input formControlName="amount" [allowZero]="true">
    </app-token-input>
    <div>
        <div class="timeout-input" fxLayout="row">
            <input
                placeholder="Settle timeout"
                aria-label="Settle timeout input"
                formControlName="settle_timeout"
                class="timeout-input__field"
                type="number"
                [min]="revealTimeout * 2"
                matTooltip="The number of blocks after which a channel can be settled"
            />
        </div>
        <div class="error" fxLayout="column" fxLayoutAlign="center">
            <span *ngIf="form.get('settle_timeout').invalid" [@fallDown]="'in'">
                <span
                    *ngIf="form.get('settle_timeout').hasError('invalidAmount')"
                >
                    The settle timeout is not a valid number
                </span>
                <span *ngIf="form.get('settle_timeout').hasError('min')">
                    Reveal timeout is {{ revealTimeout }}, settle timeout should
                    be at least {{ revealTimeout * 2 }}
                </span>
            </span>
        </div>
    </div>
</app-raiden-dialog>
