@import '../../../sass/fonts';
@import '../../../sass/colors';

.timeout-input {
    z-index: 1;
    position: relative;
    height: 32px;

    &__field {
        border-radius: 25px;
        background-color: $light-grey;
        border: none;
        box-shadow: none;
        font-family: $main-font;
        padding: 0 18px;
        height: 100%;
        font-size: 13px;
        line-height: 15px;
        letter-spacing: 0.35px;
        color: $black;
        width: 100%;
        min-width: 0;
    }
}

.error {
    height: 32px;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.35px;
    padding-left: 18px;
    color: $red;
}
